    .custom-col-2 {
        flex: 0 0 16.666667%;
        max-width: 10.966667%;
    }
    .no-margin {
        margin: unset;
    }
    .set-padding{
        padding: 10px 5px;
    }
    
@media only screen and (max-width: 600px) {
    .custom-col-2 {
        flex: 2 0 28.6667%;
        max-width: 28.6667%;
    }
  }