<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper mt-0">
      <div class="p-3">
        <div class="page-filter d-flex flex-wrap w-100 justify-content-center px-2 py-1">
          <div class="d-flex order-1 mb-md-0 mb-2">
            <h4 class="font-weight-bold heading align-self-center mb-0">Quality Calendar (<span style="font-size: 10px;">Notes: Amounts in Lacs</span>)</h4>
          </div>
          <div class="m-md-auto order-lg-2 order-6 mb-2">
             <h5 class="mb-0 mt-md-0 mt-sm-2 mt-0">OK Value Target greater than {{company_per}}</h5>
          </div>
          <div class="d-flex ml-sm-auto order-lg-3 order-2 mb-md-0 mb-2">
            <select class="form-control align-self-center" *ngIf="plantservice" name="myselect" #mySelect
                    (change)="selectedGrid($event.target.value)" style="height: 38px; padding: 5px 13px 6px 9px;">
                    <!-- <option value="0">--Select--</option> -->
                    <option *ngFor="let pl of plantservice.splantlist" value="{{pl.plantcode}}">
                      {{ pl.plantshortname }}
                    </option>
            </select> 
          </div>
          <div class="d-flex ml-2 order-lg-4 order-3 mb-md-0 mb-2">
            <select class="custom-select" (change)="getOrderType()" name="Ordertype" #Ordertype='ngModel' [(ngModel)]='this.orderType'>
              <option value="All">All</option>
              <option value="ZASM">ZASM</option>
              <option value="ZCRM">ZCRM</option>
              <option value="ZDCM">ZDCM</option>
              <option value="ZDCR">ZDCR</option>
              <option value="ZMLD">ZMLD</option>
              <option value="ZMLG">ZMLG</option>
              <option value="ZPKG">ZPKG</option>
              <option value="ZPTG">ZPTG</option>
              <option value="ZRWK">ZRWK</option>
              <option value="ZSAT">ZSAT</option>
              <option value="ZWCM">ZWCM</option>
              <option value="ZWCR">ZWCR</option>
            </select>
          </div>
          <div class="ml-2 order-lg-5 order-4 mb-md-0 mb-2" style="padding: unset !important;">
            <button class="btn btn-primary btn-custom-in-grp" (click)="Previous()"
              style="border-radius: 5px 0px 0px 5px">Previous</button>
            <button class="btn btn-primary  btn-custom-in-grp " (click)="Next()"
              style="border-radius: 0px 5px 5px 0px;">Next</button>
          </div>
          <div class="ml-2 order-lg-6 order-5 mb-md-0 mb-2">
            <button class="btn btn-primary px-2" (click)="loaddata()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
  
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-12 px-md-4">
            <div class="mx-2">
              <div class="card border-10">
                <div class="card-header">
                  <!--  card-tools -->
                  <div class="form-inline" *ngIf="this.dpservice.dailyreportsummary" style="margin: auto;">
                    <div *ngFor="let tot of this.dpservice.dailyreportsummary" style="text-align: center;">
                      <div *ngIf="tot.itemtype==this.orderType" class="row m-0">
                        <div class="d-flex flex-wrap justify-content-center w-100">
                          <button class="btn btn-custom my-1 text-white font-weight-bold summary-bg mr-3" (click)="extraVal(7)">Summary</button>
                          <button class="btn btn-custom my-1 text-white blue-bg mr-3" (click)="extraVal(1)">Insp. Value =
                            <b>{{ tot.producevalue }}</b>
                            Lacs</button>
                            <button class="btn btn-custom my-1 text-white green-bg mr-3" (click)="extraVal(2)">Ok Value =
                              <b>{{ tot.okvalue }}</b> Lacs &nbsp;&nbsp; Ok % = <b>{{tot.okper}}</b>
                            </button>
                            <button class="btn btn-custom my-1 text-white red-bg mr-3" (click)="extraVal(5)">Rej. Value =
                              <b>{{ tot.rejectvalue }}</b>
                              Lacs</button>
                            <button class="btn btn-custom my-1 text-white red-bg mr-3" (click)="extraVal(6)">Reject % =
                              <b>{{ tot.rejper }}</b></button>
                        </div>
                        <div class="d-flex flex-wrap justify-content-center w-100">
                          <button class="btn btn-custom my-1 text-white pink-bg mr-3" (click)="extraVal(8)">
                            Moulding Val. = <b>{{ tot.mouldingvalue  |  number:'1.2-2' }}</b> Lacs &nbsp;&nbsp;
                            Moulding % = <b>{{ tot.mouldingper  |  number:'1.2-2' }}</b>
                          </button>
                          <button class="btn btn-custom my-1 text-white pink-bg mr-3" (click)="extraVal(9)">
                            Plating Val. = <b>{{ tot.platingvalue  |  number:'1.2-2' }}</b> Lacs &nbsp;&nbsp;
                            Plating % = <b>{{ tot.platingper  |  number:'1.2-2' }}</b>
                          </button>
                          <button class="btn btn-custom my-1 text-white pink-bg mr-3" (click)="extraVal(10)">
                            Jigging Val. = <b>{{ tot.jigingvalue  |  number:'1.2-2' }}</b> Lacs &nbsp;&nbsp;
                            Jigging % = <b>{{ tot.jigingper  |  number:'1.2-2' }}</b>
                          </button>
                          <button class="btn btn-custom my-1 text-white pink-bg mr-3" (click)="extraVal(11)">
                            Other Val. = <b>{{ tot.othervalue  |  number:'1.2-2' }}</b> Lacs &nbsp;&nbsp;
                            Other % = <b>{{ tot.otherper  |  number:'1.2-2' }}</b>
                          </button>   
                        </div>
                        <!-- <div class="col-md-12">
                          <button class="btn btn-custom text-dark bg-summary" (click)="extraVal(7)">Summary</button>
                          <button class="btn btn-custom text-dark bg-info" (click)="extraVal(1)">Insp. Value =
                            <b>{{ tot.producevalue }}</b>
                            Lacs</button>
                          <button class="btn btn-custom text-dark bg-success" (click)="extraVal(2)">Ok Value =
                            <b>{{ tot.okvalue }} Lacs &nbsp;&nbsp; Ok % {{tot.okper }}</b>
                          </button>
                          <button class="btn btn-custom text-dark bg-primary" (click)="extraVal(3)">Hold Value =
                            <b>{{ tot.holdvalue }}</b>
                            Lacs</button>
                          <button class="btn btn-custom text-dark bg-dark" (click)="extraVal(4)">Buff. Value =
                            <b>{{ tot.buffingvalue }}</b>
                            Lacs</button>
                          <button class="btn btn-custom text-dark bg-danger" (click)="extraVal(5)">Rej. Value =
                            <b>{{ tot.rejectvalue }}</b>
                            Lacs</button>
                          <button class="btn btn-custom text-dark bg-warning" (click)="extraVal(6)">Reject % =
                            <b>{{ tot.rejper }}</b></button>
                        </div>
                        <div class="col-md-12">
                          <button class="btn btn-custom text-dark bg-danger">
                            Plating Val. = <b>{{ tot.platingvalue  |  number:'1.2-2' }}</b> Lacs
                            Plating % = <b>{{ tot.platingper  |  number:'1.2-2' }}</b>
                          </button>
                          <button class="btn btn-custom text-dark bg-danger">
                            Moulding Val. = <b>{{ tot.mouldingvalue  |  number:'1.2-2' }}</b> Lacs
                            Moulding % = <b>{{ tot.mouldingper  |  number:'1.2-2' }}</b>
                          </button>
                        </div> -->
  
                      </div>
                    </div>
                  </div>
                  
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0" style="overflow-y: scroll; height:auto;">
  
                  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  
                  <full-calendar #calendar defaultView="dayGridMonth" [plugins]="calendarPlugins"
                    [header]="options.header" [weekends]="true" [displayEventTime]="false"
                    [events]="dpservice.dailyprodlist" [editable]="true" [aspectRatio]="3.5" height="auto"
                    (dateClick)="dateClick($event)" (eventClick)="eventClick($event)" class="my-calender">
                  </full-calendar>
                  <div class="table-responsive mailbox-messages">
  
                    <!-- /.table -->
                  </div>
                  <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer p-2">
  
                </div>
              </div>
  
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
        </div>
      </section>
  
      <!-- Modal -->
      <div class="modal fade actionPlanModal-xl" id="actionPlanModal" tabindex="-1" role="dialog"
        aria-labelledby="actionPlanModal" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row col-md-11">
                <div class="col-md-6">
                  <h5>Action Plan
                    <span *ngIf="monthName">({{monthName| date :'MMM'}})</span> </h5>
                </div>
                <div class="col-md-5">
                  <h4>{{selected_plantname }}</h4>
                </div>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div style="overflow-y: scroll; height: 350px;" class="">
  
                <p-table #dtt [value]="allActionPlan" dataKey="id" editMode="row" [paginator]="true" [rows]="20"
                  [resizableColumns]="true" [style]="{'text-align': 'center', 'font-size': '0.7em'}" [responsive]="true"
                  selectionMode="single" [style]="{'width':'100%'}" class="mostly-customized-scrollbar" *ngIf="!noRecord">
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="tbl-th" *ngFor="let col of allActionPlanCol" [width]="col.width">{{col.header}}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="rowData">
                      <td *ngFor="let col of allActionPlanCol" [hidden]="!allActionPlan && !allActionPlan.length">
                        <!--Buttons-->
                        <div *ngIf="col.field=='edit'">
                          <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                            class="ui-button-info"></button>&nbsp;
  
                          <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                            class="ui-button-success" style="margin-right: .5em"
                            (click)="onRowEditSave(rowData,'')"></button>
                          <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                            class="ui-button-danger"></button>
                        </div>
                        <!--End Buttons-->
                        <!-- --status-- -->
                        <div *ngIf="col.field=='edit_status' && this.currentUser && this.currentUser.id==14">
                          <button class="btn btn-success" (click)="onRowEditSave(rowData,'1')">
                            Approve
                          </button>&nbsp;
  
                          <button class="btn btn-danger" (click)="onRowEditSave(rowData,'2')">
                            Reject
                          </button>
                        </div>
                        <!-- --status-- -->
                        <span
                          *ngIf="col.field=='targetdateofcompletion' || col.field=='actualdateofcompletion'">{{rowData[col.field]  | date :'dd MMM, y'}}</span>
                        <span
                          *ngIf="col.field!='progresspercent' && col.field!='attachment' &&  col.field!='approvedstatus' && col.field!='targetdateofcompletion' && col.field!='actualdateofcompletion'">{{rowData[col.field]}}</span>
                        <!--progress bar-->
                        <span *ngIf="col.field=='progresspercent'">{{rowData[col.field]}}</span>
                        <div class="progress progress-sm" *ngIf="col.field=='progresspercent'">
                          <div class="progress-bar bg-green" role="progressbar"
                            attr.aria-valuenow="{{rowData.progresspercent}}" aria-volumemin="0" aria-volumemax="100"
                            [style.width.%]="rowData.progresspercent">
                          </div>
                        </div>
                        <!--end progress bar-->
  
                        <!--Status-->
                        <p-cellEditor *ngIf="col.field=='approvedstatus'">
                          <ng-template pTemplate="input">
                            <select name="approvedstatus" [(ngModel)]="rowData.approvedstatus"
                              class="form-control status">
                              <option value="0">Pending</option>
                              <option value="1">Aprrove</option>
                              <option value="2">Reject</option>
                            </select>
                          </ng-template>
                          <ng-template pTemplate="output">
                            <span class="badge badge-info" *ngIf="rowData[col.field]=='0'">Pending</span>
                            <span class="badge badge-success" *ngIf="rowData[col.field]=='1'">Approved</span>
                            <span class="badge badge-danger" *ngIf="rowData[col.field]=='2'">Rejected</span>
                          </ng-template>
                        </p-cellEditor>
                        <!--End Status-->
  
                        <!--Attachment-->
                        <app-filedownload [Filename]="rowData.attachment"
                          *ngIf="col.field=='attachment' && rowData.attachment"></app-filedownload>
                        <span *ngIf="col.field=='attachment' && !rowData.attachment"> No attachment found</span>
                        <!--End Attachment-->
  
  
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <div *ngIf="noRecord" style="text-align: center;">
                  <h2>{{noRecord}}</h2>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Modal -->
      <div class="modal fade bd-example-modal-xl" id="basicExampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row col-md-11">
                <div class="col-md-6">
                  <h5>Rejection Summary
                    <span *ngIf="!monthName">({{selected_eventdate | date :'dd MMM, y'}})</span>
                    <span *ngIf="monthName">({{monthName | date :'MMM'}})</span> </h5>
                </div>
                <div class="col-md-5">
                  <h4>{{selected_plantname }}</h4>
                </div>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
  
            </div>
            <div class="modal-body">
              <div style="overflow-y: scroll; height: 550px;">
                <p-table #dt [columns]="cols" [style]="{'text-align': 'center', 'font-size': '0.7em'}" [responsive]="true"
                  selectionMode="single" [style]="{'width':'100%'}" [(selection)]="selectedItemrej"
                  [value]="dpservice.itemwiserejlist" [paginator]="false" [rows]="10" [responsive]="true">
  
                  <ng-template pTemplate="header" let-columns>
                    <!-- header button section -->
                    <tr *ngIf="btnLabel">
                      <td  style="width:130px;">
                        <div class="input-group mb-2 ">
                          <input type="text" pInputText placeholder="Global Filter"
                            (input)="loadper($event.target.value , dt)"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" class="form-control fix-height">
                          <div class="input-group-append fix-height">
                            <i class="fa fa-search input-group-text"></i>
                          </div>
                        </div>
                      </td>
                      <!--not for summary -->
                      <td style="width:150px;">
                        <button type="button" label="EXCEL" (click)="dt.exportCSV()" class="btn btn-sm btn-custom text-white green-bg">
                          <i class="fa fa-file-excel-o"></i> Export</button>
                      </td>
  
  
                      <!--not for reject% and summary click event -->
                      <td *ngIf="btnLabel!='6' && btnLabel!='7'" style=" width:140px;">
                        <button class="btn btn-sm btn-custom text-white blue-bg" *ngIf="btnLabel=='1'"
                          style="float: right;">Insp.
                          Qty: {{ inspectionQtysum | number:'1.2-2'}}
                        </button>
  
                        <button class="btn btn-sm btn-custom text-white green-bg" *ngIf="btnLabel=='2'"
                          style="float: right;">Ok
                          Qty: {{ okQtySum | number:'1.2-2'}}
                        </button>
  
                        <button class="btn btn-sm  text-dark bg-primary mb-2" *ngIf="btnLabel=='3'"
                          style="float: right;">Hold Qty: {{ holdQtySum | number:'1.2-2'}}
                        </button>
  
                        <button class="btn btn-sm  text-dark bg-dark mb-2" *ngIf="btnLabel=='4'"
                          style="float: right;">Buff.
                          Qty: {{ buffingQtySum | number:'1.2-2'}}
                        </button>
  
                        <button class="btn btn-sm btn-custom text-white red-bg" *ngIf="btnLabel=='5'"
                          style="float: right;">Reject Qty: {{ rejectQtysum  | number:'1.2-2'  }}
                        </button>

                        <button class="btn btn-sm btn-custom text-white pink-bg" *ngIf="btnLabel=='8'"
                          style="float: right;">Moulding Value: {{ mouldingvsum  | number:'1.2-2'  }} lacs
                        </button>
                        
                        <button class="btn btn-sm btn-custom text-white pink-bg" *ngIf="btnLabel=='9'"
                          style="float: right;">Plating Value: {{ platingvsum  | number:'1.2-2'  }} lacs
                        </button>

                        <button class="btn btn-sm btn-custom text-white pink-bg" *ngIf="btnLabel=='10'"
                          style="float: right;">Jigging Value: {{ jigingvsum  | number:'1.2-2'  }} lacs
                        </button>

                        <button class="btn btn-sm btn-custom text-white pink-bg" *ngIf="btnLabel=='11'"
                          style="float: right;">Other Value: {{ othervsum  | number:'1.2-2'  }} lacs
                        </button>
  
                      </td>
                      <!--not for reject% and summary click event -->
  
                      <!--not for summary click event -->
                      <td style="width:140px;" *ngIf="btnLabel!='7'">
                        <button class="btn btn-sm btn-custom text-white blue-bg" *ngIf="btnLabel=='1'"
                          style="float: right;">Total
                          Insp.: {{ inspectionvsum | number:'1.2-2'}} Lacs
                        </button>
  
                        <button class="btn btn-sm btn-custom text-white green-bg" *ngIf="btnLabel=='2'"
                          style="float: right;">Ok
                          Value: {{ okvalueSum | number:'1.2-2'}} Lacs
                        </button>
  
                        <button class="btn btn-sm  text-dark bg-primary mb-2" *ngIf="btnLabel=='3'"
                          style="float: right;">Hold Value: {{ holdvalueSum | number:'1.2-2'}} Lacs
                        </button>
  
                        <button class="btn btn-sm  text-dark bg-dark mb-2" *ngIf="btnLabel=='4'"
                          style="float: right;">Buff.
                          Value: {{ buffingvalueSum | number:'1.2-2'}} Lacs
                        </button>
  
                        <button class="btn btn-sm btn-custom text-white red-bg" *ngIf="btnLabel=='5'"
                          style="float: right;">Reject Value: {{ rejectvsum | number:'1.2-2'  }} Lacs </button>
  
                        <button class="btn btn-sm btn-custom text-white red-bg" *ngIf="btnLabel=='6'"
                          style="float: right;">Reject %: {{ rejperPerSum2 | number:'1.1-2'  }} </button>
                        
                        <button class="btn btn-sm btn-custom text-white pink-bg" *ngIf="btnLabel=='8'"
                        style="float: right;">Moulding %: {{ mouldingpersum  | number:'1.2-2'  }}
                        </button>

                        <button class="btn btn-sm btn-custom text-white pink-bg" *ngIf="btnLabel=='9'"
                        style="float: right;">Plating %: {{ platingpersum  | number:'1.2-2'  }}
                        </button>

                        <button class="btn btn-sm btn-custom text-white pink-bg" *ngIf="btnLabel=='10'"
                        style="float: right;">Jigging %: {{ jigingpersum  | number:'1.2-2'  }}
                        </button>

                        <button class="btn btn-sm btn-custom text-white pink-bg" *ngIf="btnLabel=='11'"
                        style="float: right;">Other %: {{ otherpersum  | number:'1.2-2'  }}
                        </button>
                      </td>
                      <!--not for summary click event -->
  
                      <!--only for summary -->
                      <td style="width:140px;" class="pr-1" *ngIf="btnLabel=='7'">
                        <button class="btn btn-sm btn-custom text-white blue-bg" style="float: right;">Total
                          Insp.: {{ inspectionvsum | number:'1.2-2'}} Lacs
                        </button>
                      </td>
                      <td style="width:125px;" class="pr-1" *ngIf="btnLabel=='7'">
                        <button class="btn btn-sm btn-custom text-white green-bg" style="float: right;">Ok
                          Val.: {{ okvalueSum | number:'1.2-2'}} Lacs
                        </button>
                      </td>
                      <td style="width:85px;" class="pr-2" *ngIf="btnLabel=='7'">
                        <button class="btn btn-sm btn-custom text-white green-bg" style="float: right;">Ok %:
                          {{ okperSum | number:'1.2-2'}}
                        </button>
                      </td>
                      <td style="width:140px;" class="pr-1" *ngIf="btnLabel=='7'">
                        <button class="btn btn-sm btn-custom text-white red-bg" style="float: right;">Total Reject:
                          {{ rejectvsum | number:'1.2-2'  }} Lacs </button>
                      </td>
                      <td style="width:100px;" class="pr-1" *ngIf="btnLabel=='7'">
                        <button class="btn btn-sm btn-custom text-white red-bg" style="float: right;">Reject %:
                          {{ rejperPerSum2 | number:'1.1-2'  }} </button>
                      </td>
                      <!--end for summary -->
                    </tr>
                    <!-- regular date section -->
                    <tr *ngIf="!btnLabel">
                      <td colspan="2" style=" width:160px;">
                        <div class="input-group mb-2">
                          <input type="text" pInputText placeholder="Global Filter"
                            (input)="loadper($event.target.value , dt)"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" class="form-control fix-height">
                          <div class="input-group-append fix-height">
                            <i class="fa fa-search input-group-text"></i>
                          </div>
                        </div>
                      </td>
                      <td style=" width:80px;"> </td>
                      <td style=" width:80px;"> </td>
                      <td style=" width:140px;">
                        <button class="btn btn-sm btn-custom text-white red-bg">
                          Total Reject: {{ rejectDailySum | number:'1.2-2'  }} Lacs </button>
                      </td>
                      <td style=" width:140px;">
                        <button class="btn btn-sm btn-custom text-white blue-bg">
                          Total Insp.: {{ inspDailySum  | number:'1.2-2'}} Lacs
                        </button>
                      </td>
                      <td style=" width:140px;">
                        <button class="btn btn-sm btn-custom text-white green-bg">
                          Ok Value: {{ okDailySum | number:'1.2-2'}} Lacs
                        </button>
                      </td>
                    </tr>
                    <tr class="tbl-tr">
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="width:140px" class="tbl-th">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
  
                      <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- /.content-wrapper -->