<div class="p-3">
    <div class="card highlight-2 border-10 p-3">
        <form #form="ngForm" autocomplete="off" (submit)="onComplete(form)">
            <div class="page-filter d-flex w-100 px-2 py-1">
                <div class="d-flex">
                    <h4 class="font-weight-bold heading mb-0 align-self-center">Capacity Utilization</h4>
                </div>
                <button type="submit" (click)="onSaveClick()" class="btn btn-success px-3 ml-auto"> Save</button>
                <button (click)="back()" class="btn btn-primary px-3 ml-3">Back</button>
            </div>
            <div class="grid-container my-3 w-100">
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="entrydate">Production Date:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control" type='date' id="entrydate" name="entrydate" #entrydate="ngModel"
                        [(ngModel)]="caputilsservice.caputilsData.entrydate"/>
                      </div>
                      <!-- [readonly]="caputilsservice.caputilsData.id > 0" -->
                    </div>
                </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="plantcode">Plantcode:</label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-control" name="plantcode" #plantcode="ngModel" id="plantcode"
                                        [(ngModel)]="caputilsservice.caputilsData.plantcode"
                                        (change)="plantcodeChange()">
                                        <option *ngFor="let pl of plantservice.splantlist" value="{{pl.plantcode}}">
                                          {{ pl.plantshortname }}
                                        </option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="linetype">Line Type:</label>
                      </div>
                      <div class="col-md-8">
                        <select class="custom-select" type='text' id="linetype" name="linetype" #linetype="ngModel" [(ngModel)]="caputilsservice.caputilsData.linetype">
                          <option value="">--Select--</option>
                          <option value="Chrome">Chrome</option>
                          <option value="Satin">Satin</option>
                        </select>
                      </div>
                    </div>
                </div> 
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="plantround">Plan Round:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control" type='number' id="plantround" name="plantround" #plantround="ngModel"
                        [(ngModel)]="caputilsservice.caputilsData.plantround"/>
                      </div>
                    </div>
                </div> 
            </div>
        </form>
    </div>
</div>