<!-- Navbar -->
<div *ngIf="currentUser">
  <!------------>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="./home" routerLinkActive="active" class="nav-logo">
      <img src="../../assets/img/0_galva.jpg" alt="Galva Logo" class="brand-image pt-1 rounded" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown" *ngFor="let parent of pageservice.pagelist">
          <a class="nav-link dropdown-toggle pt-4 custom-padding" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" *ngIf="parent.parentid == 0">
            {{parent.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div *ngFor="let child of pageservice.pagelist">
              <a *ngIf="child.parentid == parent.id" routerLink="{{child.url}}" routerLinkActive="active"
                class="dropdown-item">
                {{child.name}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link pt-4 custom-padding" routerLink="./home">
            <img src="../../assets/img/user1.png" class="img-circle loggedin-user elevation-2 " alt="User Image" />
            <span class="d-block font-weight-bold user-name">{{ this.currentUser.username }}</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link pt-4 custom-padding" href="#" data-toggle="dropdown">
            <fa name="bell-o"></fa>
            <span class="badge badge-danger navbar-badge bg-c-pink badge-round">{{service.allpendinglist.length}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-header">5 Notifications</span>
            <div class="dropdown-divider"></div>
        <li class="nav-item dropdown" *ngFor="
         let task of service.allpendinglist| paginate: { itemsPerPage: 5, currentPage: cpage }">
          <a role=" button" (click)="opendetail(task.id,task.loginid)" class="dropdown-item">
            <div class="row">
              <i class="nav-icon">
                <fa name="envelope"></fa>
              </i>
              <div class="col-md-7 text-truncate">
                {{ task.description }}
              </div>
              <span class="float-right text-muted text-sm">{{ getdays(task.actiondate, this.cDate) }} days to go</span>
            </div>
          </a>
          <div class="dropdown-divider"></div>
        </li>
        <div class="dropdown-divider"></div>
        <div class="dropdown-divider"></div>
        <a routerLink="./task-approve" routerLinkActive="active" *ngIf="service.allpendinglist.length > 5"
          class="dropdown-item dropdown-footer">See All
          Notifications</a>
    </div>
    </li>
    <li class="nav-item">
      <a class="nav-link pt-4 custom-padding" href="#" role="button" (click)="logout()">
        <i>
          <fa name="lock"></fa>
        </i>
      </a>
    </li>
    </ul>
</div>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container style="background-color:#2579D9;" -->
<!------------>
</div>