<!-- Navbar -->
<div *ngIf="currentUser">
  <nav class="header navbar navbar-expand-md navbar-dark ">
    <!-- Left navbar links -->

    <ul class="navbar-nav ">
      <li class="nav-item" style="background-color:#0129CD;opacity:0.7; overflow-x:hidden;">
        <a routerLink="./home" routerLinkActive="active" class="nav-logo  ">
          <img src="../../assets/img/0_galva.jpg" alt="Galva Logo" class="brand-image pt-1 rounded" />
        </a>
      </li>
      <!-- Sidebar user panel (optional) -->

      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-3">
        <ng-container *ngFor="let parent of pageservice.pagelist">
          <li class="nav-item dropdown ">
            <a routerLink="{{parent.url}}" routerLinkActive="active" href="#" class="nav-link
            dropdown-toggle pt-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              *ngIf="parent.parentid == 0">
              {{parent.name}}</a>
            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
          <li *ngFor="let child of pageservice.pagelist">
            <div *ngIf="child.parentid == parent.id">
              <a routerLink="{{child.url}}" routerLinkActive="active" class="dropdown-item">
                {{child.name}}</a>
            </div>
          </li>
</div>
</li>
</ng-container>
</ul>
</ul>

<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
  <!-- Notifications Dropdown Menu -->
  <li class="nav-item pt-1">
    <div class="user-panel d-flex">
      <div class="image">
        <img src="../../assets/img/user1.png" class="img-circle elevation-2 " alt="User Image" />
      </div>
      <div class="info">
        <a routerLink="./home" routerLinkActive="active"
          class="d-block font-weight-bold">{{ this.currentUser.username }}</a>
      </div>
    </div>
  </li>
  <li class="nav-item dropdown ">
    <a class="nav-link " data-toggle="dropdown" href="#">
      <i>
        <fa name="bell"></fa>
      </i>
      <span class="badge badge-danger navbar-badge">{{service.allpendinglist.length}}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      <span class="dropdown-header">5 Notifications</span>
      <div class="dropdown-divider"></div>

  <li class="nav-item dropdown" *ngFor="
    let task of service.allpendinglist| paginate: { itemsPerPage: 5, currentPage: cpage }">
    <a role=" button" (click)="opendetail(task.id,task.loginid)" class="dropdown-item">
      <div class="row">
        <i class="nav-icon">
          <fa name="envelope"></fa>
        </i>
        <div class="col-md-7 text-truncate">
          {{ task.description }}
        </div>
        <span class="float-right text-muted text-sm">{{ getdays(task.actiondate, this.cDate) }} days to go</span>
      </div>
    </a>
    <div class="dropdown-divider"></div>
  </li>

  <div class="dropdown-divider"></div>

  <div class="dropdown-divider"></div>
  <a routerLink="./task-approve" routerLinkActive="active" *ngIf="service.allpendinglist.length > 5"
    class="dropdown-item dropdown-footer">See All
    Notifications</a>
  </div>
  </li>
  <li class="nav-item">
    <a role="button" (click)="logout()" class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">

      <i>
        <fa name="lock"></fa>
      </i></a>
  </li>
</ul>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container style="background-color:#2579D9;" -->


</div>
