<!-- Site wrapper -->
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <div class="row ">
                <div class="col-md-10">
                  <h5 class="card-title-md">Production Summary Value Report</h5>
                </div>
                <div class="col-md-2 ">

                  <div style="text-align: center;">
                    <button type="button" label="EXCEL" (click)="dt.exportCSV()" class="btn btn-success btn-sm">
                      <i class="fa fa-file-excel-o"></i> Export</button>
                    &nbsp;
                    <Button (click)="backtoRejection()" class="btn btn-primary btn-sm "> <i
                        class="fa fa-chevron-left"></i> Back</Button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="row mt-2">
                    <div class="col-md-2">
                      <label>From</label>
                    </div>
                    <div class="col-md-9">
                      <p-calendar aria-placeholder="From Date" name="fromdate" #fromdate="ngModel"
                        [(ngModel)]="this.Fromdate" class="input-append date" dateFormat="yy-mm-dd" dataType="string"
                        [showIcon]="true">
                      </p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row mt-2">
                    <div class="col-md-2">
                      <label>To</label>
                    </div>
                    <div class="col-md-9">
                      <p-calendar aria-placeholder="To Date" name="todate" #todate="ngModel" [(ngModel)]="this.Todate"
                        class="input-append date" dateFormat="yy-mm-dd" dataType="string" [showIcon]="true">
                      </p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <select class=" custom-select" name="myselect" #mySelect="ngModel"
                        [(ngModel)]="this.DPservice.plantcode" (change)="selectedGrid($event.target.value)">
                        <option value="0">--Select Plant--</option>
                        <option *ngFor="let pl of plantservice.plantlist" value="{{pl.plantcode}}">
                          {{ pl.plantshortname }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="row ">
                    <div class="col-md-12 mt-2">
                      <select class=" custom-select" name="typeSelect" #typeSelect="ngModel"
                        [(ngModel)]="this.reporttype" (change)="onselectReporttype($event.target.value)">
                        <option value="All">All</option>
                        <option value="Plating">Plating</option>
                        <option value="Moulding">Moulding</option>
                        <option value="ToolDefect">ToolDefect</option>
                        <option value="Others">Others</option>
                        <option value="Summary">Summary</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="row ">
                    <div class="col-md-8 mt-2">
                      <select class=" custom-select" name="typeSelect" #typeSelect="ngModel"
                        [(ngModel)]="this.selectedtype" (change)="onselecttype($event.target.value)">
                        <option value="All">--Select Type--</option>
                        <option value="zcrm">CHROME</option>
                        <option value="zsat">SATIN</option>
                        <option value="ZMLD">MOULDING</option>
                      </select>
                    </div>
                    <div class="col-md-1 mt-2">
                      <button class="btn btn-primary " (click)="onviewDetail()">View</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
      <p-table #dt [columns]="cols" [responsive]="true" selectionMode="single"
        [style]="{'text-align': 'center','font-size': '0.7em','width':'auto','transform':'rotateX(180deg)'}"
        [(selection)]="selectedItemrej" [value]="DPservice.itemwiserejlist2" [paginator]="true" [rows]="20"
        [resizableColumns]="true" (onRowSelect)="onRowSelect($event)" class="ptable"
        [ngClass]="{'all': this.reporttype=='All'}">

        <ng-template pTemplate="header" let-columns>
          <tr>
            <td colspan="2" style="width: 230px;">
              <div class="input-group custome-gs mb-2 mt-1">
                <input type="text" class="form-control" pInputText placeholder="Global Filter"
                  (input)="loadper($event.target.value , dt)"
                  (input)="dt.filterGlobal($event.target.value, 'contains')">
                <div class="input-group-append">
                  <i class="fa fa-search input-group-text"></i>
                </div>
              </div>
            </td>
            <td>
              <button class="btn btn-sm  text-dark bg-info  custom-fs"
                style="float: right;width: 100%;padding: 5px 2px;">
                {{ totalinsValue | number:'1.2-2'}}
              </button>
            </td>

            <td>
              <button class="btn btn-sm  text-dark bg-info  custom-fs"
                style="float: right;width: 100%;padding: 5px 2px;">
                {{ totalokValue | number:'1.2-2'}}
              </button>
            </td>
            <td>
              <button class="btn btn-sm  text-dark bg-info custom-fs"
                style="float: right;width: 100%;padding: 5px 2px;">
                {{ totalRejVal | number:'1.2-2'}}
              </button>
            </td>
            <td>
              <button class="btn btn-sm  text-dark bg-info custom-fs"
                style="float: right;width: 100%;padding: 5px 2px;">
                {{ totalRejPer2 | number:'1.2-2'}}
              </button>
            </td>

            <td>
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ totalHoldVal | number:'1.2-2'}}
              </button>
            </td>
            <td>
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ totalBuffVal | number:'1.2-2'}}
              </button>
            </td>
            <!--value-->

            <td *ngIf="(this.reporttype == 'Plating' || this.reporttype == 'Summary') || this.reporttype == 'All'"
              style="width: 54px;">
              <button class="btn btn-sm  text-dark bg-danger  custom-fs"
                style="float: right;width: 100%;padding: 5px 2px;">
                {{ plating_value | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="(this.reporttype == 'Plating' || this.reporttype == 'Summary') || this.reporttype == 'All'"
              style="width: 63px;">
              <button class="btn btn-sm  text-dark bg-warning   custom-fs"
                style="float: right;width: 100%;padding: 5px 2px;">
                {{ moulding_value | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="(this.reporttype == 'Plating' || this.reporttype == 'Summary') || this.reporttype == 'All'"
              style="width: 54px;">
              <button class="btn btn-sm  text-dark bg-storesspares  custom-fs"
                style="float: right;width: 100%;padding: 5px 2px;">
                {{ tooldeF_value | number:'1.2-2'}}
              </button>
            </td>

            <td *ngIf="(this.reporttype == 'Plating' || this.reporttype == 'Summary') || this.reporttype == 'All'"
              style="width: 54px;">
              <button class="btn btn-sm  text-dark bg-summary  custom-fs"
                style="float: right;width: 100%;padding: 5px 2px;">
                {{ othersvalue | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'All' || this.reporttype == 'Summary'">
              <button class="btn btn-sm custom-fs bg-others_value" style="float: right;width: 100%;padding: 5px 2px;">
                {{ mechfail_value | number:'1.2-2'}} 
              </button>
            </td>


            <td *ngIf="this.reporttype == 'Plating' || this.reporttype == 'All' ">
              <button class="btn btn-sm  text-dark bg-info  custom-fs"
                style="float: right;width: 100%;padding: 5px 2px;">
                {{ pinholEvalue | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Plating'  || this.reporttype == 'All'">
              <button class="btn btn-sm  text-dark bg-info  custom-fs"
                style="float: right;width: 100%;padding: 5px 2px;">
                {{ skipplatinGval | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Plating'  || this.reporttype == 'All'">
              <button class="btn btn-sm  text-dark bg-info custom-fs"
                style="float: right;width: 100%;padding: 5px 2px;">
                {{ whitemarKval | number:'1.2-2'}}
              </button>
            </td>

            <td *ngIf="this.reporttype == 'Plating'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ dotplastiCval | number:'1.2-2'}}
              </button>
            </td>

            <td *ngIf="this.reporttype == 'Plating'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ crburninGval | number:'1.2-2'}}
              </button>
            </td>

            <td *ngIf="this.reporttype == 'Plating'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ copperburninGval | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Plating'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ nicklEval | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Plating'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ roughnesSval | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Plating'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ blisteRval | number:'1.2-2'}}
              </button>
            </td>

            <td *ngIf="this.reporttype == 'Plating'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ watermarKval | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Plating'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ shadevaRval | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Plating'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ platingpeeLval | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Plating'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ chemicalmarKval | number:'1.2-2'}}
              </button>
            </td>
            <!-- Moulding -->
            <td *ngIf="this.reporttype == 'Moulding'">
              <button class="btn btn-sm  text-dark bg-info  custom-fs"
                style="float: right;width: 100%;padding: 5px 2px;">
                {{ moulding_value | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Moulding'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs text-dark bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ silveRval | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Moulding'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs  bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ denTval | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Moulding'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ handmouldingreJval | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Moulding'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ patchmarKval | number:'1.2-2'}}
              </button>
            </td>

            <td *ngIf="this.reporttype == 'Moulding'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ mouldingreJval | number:'1.2-2'}}
              </button>
            </td>

            <td *ngIf="this.reporttype == 'Moulding'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ pittinGval | number:'1.2-2'}}
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Moulding'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ flowmarKval | number:'1.2-2'}}
              </button>
            </td>


            <td *ngIf="this.reporttype == 'ToolDefect'">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ othersvalue | number:'1.2-2'}}
              </button>
            </td>

            <td *ngIf="this.reporttype == 'ToolDefect'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ jigdamagEval | number:'1.2-2'}}
              </button>
            </td>

            <!--Others-->
            <td *ngIf="this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ warpagEval | number:'1.2-2'}} 
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Others' ">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ othersvalue | number:'1.2-2'}}  othersqty
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Others' ">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ warpagEval | number:'1.2-2'}} 
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Others'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ scratchmarKval | number:'1.2-2'}} 
              </button>
            </td>

            <td *ngIf="this.reporttype == 'Others'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ otheR1val | number:'1.2-2'}} 
              </button>
            </td>
            <td *ngIf="this.reporttype == 'Others'  || this.reporttype == 'All'">
              <button class="btn btn-sm custom-fs bg-info" style="float: right;width: 100%;padding: 5px 2px;">
                {{ otheR2val | number:'1.2-2'}} 
              </button>
            </td>


          </tr>
          <tr>
            <th *ngFor="let col of columns" [class]="col.field" [pSortableColumn]="col.field" pResizableColumn>
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" class="ui-resizable-column">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>

      </p-table>
    </section>
  </div>
</div>
<div class="modal fade bd-example-modal-xl" id="basicExampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">

        <div class="row col-md-11">
          <div class="col-md-6">
            <h3>Defects</h3>
          </div>
          <div class="col-md-5">
            <h4>{{plant_name }}</h4>
          </div>
        </div>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="overflow:scroll; ">
          <p-table #dtdefect [columns]="subcols" [style]="{'text-align': 'center', 'font-size': '0.7em'}"
            [responsive]="true" selectionMode="single" [style]="{'width':'100%'}" [value]="DPservice.itemtopdefectlist"
            [paginator]="true" [rows]="15">
            <!--<ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText placeholder="Global Filter"
                  (input)="dtdefect.filterGlobal($event.target.value, 'contains')">
              </div>
            </ng-template>-->
            <ng-template pTemplate="header" let-columns>
              <tr>
                <td style="width: 160px;">
                  <div class="input-group">
                    <input type="text" pInputText placeholder="Global Filter"
                      (input)="dtdefect.filterGlobal($event.target.value, 'contains')" class="form-control fix-height">
                    <div class="input-group-append fix-height">
                      <i class="fa fa-search input-group-text"></i>
                    </div>
                  </div>
                </td>
                <td><button type="button" label="EXCEL" (click)="dtdefect.exportCSV()" class="btn btn-success btn-sm">
                    <i class="fa fa-file-excel-o"></i> Export</button></td>
                <td></td>
                <td>
                  <button class="btn bg-warning " style="float: right;">
                    Total : {{ this.totalQty() }}
                  </button>
                </td>
                <td>
                  <button class="btn bg-danger" style="float: right;">
                    Total : {{ this.totalRejValue() | number:'1.2-2'}}
                  </button>
                </td>
              </tr>
              <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="width:140px">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [pSelectableRow]="rowData">

                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>

              </tr>
            </ng-template>

          </p-table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>