<!-- Site wrapper -->
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="card-title-md">HrCal Detail</h5>
                </div>
              </div>

            </div>
            <div class="card-header">
              <div class="row">
                <div class="col-md-2 mt-2">
                  <div class="input-group mb-1">
                    <input type="text" class="form-control" pInputText placeholder="Global Filter"
                      (input)="loadper($event.target.value , dt)"
                      (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <div class="input-group-append">
                      <i class="fa fa-search input-group-text"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-3" style="text-align: center;">
                  <div class="row mt-2">
                    <div class="col-md-2">
                      <label>From</label>
                    </div>
                    <div class="col-md-10">
                      <p-calendar aria-placeholder="From Date" name="fromdate" #fromdate="ngModel"
                        [(ngModel)]="this.Fromdate" class="input-append date" dateFormat="yy-mm-dd" dataType="string"
                        [showIcon]="true">
                      </p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-md-3"  style="text-align: center;">
                  <div class="row mt-2">
                    <div class="col-md-2">
                      <label>To</label>
                    </div>
                    <div class="col-md-10">
                      <p-calendar aria-placeholder="To Date" name="todate" #todate="ngModel" [(ngModel)]="this.Todate"
                        class="input-append date" dateFormat="yy-mm-dd" dataType="string" [showIcon]="true">
                      </p-calendar>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <select class="custom-select mt-2" name="myselect" #mySelect="ngModel"
                    [(ngModel)]="this.selectedPlant" (change)="selectedGrid($event.target.value)">
                    <option value="{{cmpny.companyFName}}" *ngFor="let cmpny of this.asservice.attendancesummary">
                      {{cmpny.companyFName}}</option>
                  </select>
                </div>
                <div class="col-md-2" style="text-align: center;">
                  <button class="btn btn-primary mt-2" (click)="getData()">View</button>
                  &nbsp;
                  <button type="button" label="EXCEL" (click)="dt.exportCSV()" class="btn btn-success mt-2">
                    <i class="fa fa-file-excel-o"></i> Export</button></div>
              </div>
            </div>
            <!-- </form> -->
            <div class="card-body">
              <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
              <p-table #dt [columns]="cols" [style]="{'text-align': 'center', 'font-size': '0.7em'}" [responsive]="true"
                selectionMode="single" [style]="{'width':'100%'}" [(selection)]="selectedItemrej"
                [value]="hrcalservice.hrcalList" [paginator]="true" [rows]="20" [resizableColumns]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <button class="btn btn-info mt-2 w-100">{{totalHours}}</button>
                    </td>
                    <!--<td>
                      <button class="btn btn-warning mt-2  w-100">{{edays}}</button>
                    </td>-->
                    <td>
                      <button class="btn btn-danger mt-2  w-100">{{totalDays}}</button>
                    </td>
                    <td>
                      <button class="btn btn-success mt-2  w-100">{{rate}}</button>
                    </td>
                  </tr>
                  <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                      {{col.header}}
                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order">
                      </p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns" class="ui-resizable-column">
                      <span *ngIf="col.field=='doj' " style="font-size: 11px;">
                        {{rowData[col.field] | date :'dd-MM-y'}}
                      </span>
                      <span *ngIf="col.field !='doj' " style="font-size: 11px;">
                        {{rowData[col.field]}}
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
</div>