<div class="p-3">
    <div class="card highlight-2 border-10 p-3">
        <form #form="ngForm" autocomplete="off" (submit)="onComplete(form)">
            <div class="page-filter d-flex w-100 px-2 py-1">
                <div class="d-flex">
                    <h4 class="font-weight-bold heading mb-0 align-self-center">Quality</h4>
                </div>
                <button type="submit" (click)="onSaveClick()" class="btn btn-success px-3 ml-auto"> Save</button>
                <button (click)="back()" class="btn btn-primary px-3 ml-3">Back</button>
            </div>
            <div class="grid-container my-3 w-100">
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="insplot">Insplot:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control" type='number' id="insplot" name="insplot" min="0" [(ngModel)]="qualityservice.qualityData.insplot" readonly/>
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="orderno">Order Number:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control" type="number" id="orderno" name="orderno" [(ngModel)]="qualityservice.qualityData.orderno" readonly />
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="itemname">Itemname:</label>
                      </div>
                      <div class="col-md-8">
                        <!-- <p-autoComplete [style]="{'width':'150px'}" [size]="20"
                          [(ngModel)]="productionsService.productionData.itemname2" id="itemname2"
                          name="itemname2" #itemname2="ngModel" [suggestions]="filteredCountries"
                           (completeMethod)="filterCountry($event)"
                          field="itemname" [dropdown]="false">
                          <ng-template let-country pTemplate="item">
                            <div class="country-item">
                              <div>{{country.itemname}}</div>
                            </div>
                          </ng-template>
                        </p-autoComplete> -->
                        <p-autoComplete [(ngModel)]="qualityservice.qualityData.itemname" 
                         [suggestions]="filteredCountries" 
                         (completeMethod)="filterCountry($event)"
                         id="itemname2" (onSelect)="valueM($event);allCalculations();"
                                        name="itemname2" #itemname2="ngModel"
                          [size]="30" [minlength]="1" placeholder="Items">
                          <ng-template let-country pTemplate="item">
                            <div class="country-item">
                              <div>{{country.itemname}}</div>
                            </div>
                          </ng-template>
                        </p-autoComplete>
                        
                        <!-- <input class="form-control" type='text' id="itemname" name="itemname"
                          #itemname="ngModel" [(ngModel)]="productionsService.productionData.itemname" />-->
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="itemcode">Itemcode:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control" type='text' id="itemcode" name="itemcode" [(ngModel)]="qualityservice.qualityData.itemcode" readonly/>
                      </div>
                    </div>
                </div>     
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="roundno">Round Number:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control" type="text" id="roundno" name="roundno" [(ngModel)]="qualityservice.qualityData.roundno"/>
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                  <div class="row m-0">
                    <div class="col-md-4 in-label">
                      <label class="gr2" for="stdprice">Std Price:</label>
                    </div>
                    <div class="col-md-8">
                      <input class="form-control grp-input-2" type='number' min="0" id="stdprice" name="stdprice" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.stdPrice"/>
                    </div>
                  </div>
               </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="plantcode">Plantcode:</label>
                      </div>
                      <div class="col-md-8">
                        <select class="form-control" name="plantcode" #plantcode="ngModel" id="plantcode"
                                        [(ngModel)]="qualityservice.qualityData.plantcode"
                                        (change)="plantcodeChange()">
                                        <option *ngFor="let pl of plantservice.splantlist" value="{{pl.plantcode}}">
                                          {{ pl.plantshortname }}
                                        </option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="shift">Shift:</label>
                      </div>
                      <div class="col-md-8">
                        <select class="custom-select" type='text' id="shift" name="shift" [(ngModel)]="qualityservice.qualityData.shift">
                          <option value="">--Select--</option>
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="C">C</option>
                        </select>
                      </div>
                    </div>
                </div>    
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="size">Size:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control" type='text' id="size" name="size" [(ngModel)]="qualityservice.qualityData.size"/>
                      </div>
                    </div>
                </div> 
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="type">Order Type:</label>
                      </div>
                      <div class="col-md-8">
                          <select class="custom-select" required  name="type" #Ordertype='ngModel' [(ngModel)]='qualityservice.qualityData.orderType'>
                            <option value="ZASM">ZASM</option>
                            <option value="ZCRM">ZCRM</option>
                            <option value="ZDCM">ZDCM</option>
                            <option value="ZDCR">ZDCR</option>
                            <option value="ZMLG">ZMLG</option>
                            <option value="ZPKG">ZPKG</option>
                            <option value="ZPTG">ZPTG</option>
                            <option value="ZRWK">ZRWK</option>
                            <option value="ZSAT">ZSAT</option>
                            <option value="ZWCM">ZWCM</option>
                            <option value="ZWCR">ZWCR</option>
                          </select>
                      </div>
                    </div>
                </div> 
                <div class="form-group mx-1">
                  <div class="row m-0">
                    <div class="col-md-4 in-label">
                      <label class="gr1" for="qty">Insp Quantity:</label>
                    </div>
                    <div class="col-md-8">
                      <input class="form-control" type='text' id="qty" name="qty" [ngClass]="{error:validQtyError}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.inspQty"/>
                    </div>
                  </div>
                </div>
                
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label class="gr2" for="okqty">Ok Quantity:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control grp-input-2" type='number' min="0" id="okqty" name="okqty" [ngClass]="{error:validQtyError}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.okqty"/>
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label class="gr2" for="holdqty">Hold Quantity:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control grp-input-2" type='number' min="0" id="holdqty" name="holdqty" [ngClass]="{error:validQtyError}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.holdqty" />
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label class="gr2" for="buffingqty">Buffing Quantity:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control grp-input-2" type='number' min="0" id="buffingqty" name="buffingqty" [ngClass]="{error:validQtyError}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.buffingqty"/>
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label class="gr2" for="rejectionqty">Rejection Quantity:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control grp-input-2" type='number' min="0" id="rejectionqty" name="rejectionqty" [ngClass]="{error:validQtyError}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.rejectionqty" readonly />
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                  <div class="row m-0">
                    <div class="col-md-4 in-label">
                      <label class="gr1" for="ivalue">Insp Value:</label>
                    </div>
                    <div class="col-md-8">
                      <input class="form-control" type='text' id="ivalue" name="ivalue" [ngClass]="{error:validQtyError}" [(ngModel)]="qualityservice.qualityData.inspValue" readonly/>
                    </div>
                  </div>
                </div>
                <div class="form-group mx-1 invisible">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label class="gr2" for="sellprice">Sell Price:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control grp-input-2" type='number' min="0" id="sellprice" name="sellprice" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.sellPrice"/>
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label class="gr2" for="totrejqty">Total Rej Qty:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control grp-input-2" type='number' min="0" id="totrejqty" name="totrejqty" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.totRejQty" readonly/>
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label class="gr2" for="totrejvalue">Total Rej Value:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control grp-input-2" type='number' min="0" id="totrejvalue" name="totrejvalue" [(ngModel)]="qualityservice.qualityData.totRejValue" readonly/>
                      </div>
                    </div>
                </div>
                <div class="form-group mx-1">
                    <div class="row m-0">
                      <div class="col-md-4 in-label">
                        <label for="pstngdate">Posting Date:</label>
                      </div>
                      <div class="col-md-8">
                        <input class="form-control" type='date' id="pstngdate" name="pstngdate" #pstngdate="ngModel" [readonly]="qualityservice.qualityData.id > 0"
                        [(ngModel)]="qualityservice.qualityData.pstngdate"/>
                      </div>
                    </div>
                </div>
                <div></div>
                <div></div>
                <div class="row m-0 mt-3">
                    <div class="col-md-4"></div>
                    <div class="col-md-8 text-right">
                        <button class="btn btn-danger mr-1" type="button" style="width: 150px;" data-toggle="modal" data-target="#addDeffect">Add Defects</button>
                    </div>
                </div>    
            </div>
            <div class="modal fade" id="addDeffect" tabindex="-1" role="dialog" aria-labelledby="addDeffect" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header px-3 py-2">
                        <h5 class="modal-title" id="addDefect">Add defect</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="moulding px-3 pt-3 mb-4 position-relative border-10">
                            <p class="position-absolute grid-title bg-white px-2">Moulding</p>
                            <div class="grid-container-2">
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE01Q">M Scratch:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" [ngClass]="{'filled': qualityservice.qualityData.dE01Q !==0}" type='number' min="0" id="DE01Q" name="DE01Q" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE01Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE02Q">M Dent:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE02Q" name="DE02Q" [ngClass]="{'filled': qualityservice.qualityData.dE02Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE02Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE03Q">M Flow Mark:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE03Q" name="DE03Q" [ngClass]="{'filled': qualityservice.qualityData.dE03Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE03Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE04Q">M Flash:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE04Q" name="DE04Q" [ngClass]="{'filled': qualityservice.qualityData.dE04Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE04Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE05Q">M Silver:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE05Q" name="DE05Q" [ngClass]="{'filled': qualityservice.qualityData.dE05Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE05Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE06Q">M Weld Line:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE06Q" name="DE06Q" [ngClass]="{'filled': qualityservice.qualityData.dE06Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE06Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE07Q">M Sink Mark:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE07Q" name="DE07Q" [ngClass]="{'filled': qualityservice.qualityData.dE07Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE07Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE08Q">M Short Mould:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE08Q" name="DE08Q" [ngClass]="{'filled': qualityservice.qualityData.dE08Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE08Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE09Q">M Pit Mark:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE09Q" name="DE09Q" [ngClass]="{'filled': qualityservice.qualityData.dE09Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE09Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE10Q">M Under Cut:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE10Q" name="DE10Q" [ngClass]="{'filled': qualityservice.qualityData.dE10Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE10Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE11Q">M Bulge:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE11Q" name="DE11Q" [ngClass]="{'filled': qualityservice.qualityData.dE11Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE11Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE12Q">M Warpage:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE12Q" name="DE12Q" [ngClass]="{'filled': qualityservice.qualityData.dE12Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE12Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE13Q">M Damage:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE13Q" name="DE13Q" [ngClass]="{'filled': qualityservice.qualityData.dE13Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE13Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE14Q">M Paper Mark:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE14Q" name="DE14Q" [ngClass]="{'filled': qualityservice.qualityData.dE14Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE14Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE15Q">M Dust:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE15Q" name="DE15Q" [ngClass]="{'filled': qualityservice.qualityData.dE15Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE15Q"/>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jigging px-3 pt-3 mb-4 position-relative border-10">
                            <p class="position-absolute grid-title bg-white px-2">Jigging</p>
                            <div class="grid-container-2">
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE16Q">J Warpage:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE16Q" name="DE16Q" [ngClass]="{'filled': qualityservice.qualityData.dE16Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE16Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE17Q">J Scratch:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE17Q" name="DE17Q" [ngClass]="{'filled': qualityservice.qualityData.dE17Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE17Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE18Q">J Jig Damage:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE18Q" name="DE18Q" [ngClass]="{'filled': qualityservice.qualityData.dE18Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE18Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE19Q">J Nickel:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE19Q" name="DE19Q" [ngClass]="{'filled': qualityservice.qualityData.dE19Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE19Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE20Q">J Fallen Down:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE20Q" name="DE20Q" [ngClass]="{'filled': qualityservice.qualityData.dE20Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE20Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE21Q">J Snap Rip Bend:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE21Q" name="DE21Q" [ngClass]="{'filled': qualityservice.qualityData.dE21Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE21Q"/>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="plating px-3 pt-3 mb-4 position-relative border-10">
                            <p class="position-absolute grid-title bg-white px-2">Plating</p>
                            <div class="grid-container-2">
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE22Q">P Pitting:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE22Q" name="DE22Q" [ngClass]="{'filled': qualityservice.qualityData.dE22Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE22Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE23Q">P Pin Hole:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE23Q" name="DE23Q" [ngClass]="{'filled': qualityservice.qualityData.dE23Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE23Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE24Q">P Nickel:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE24Q" name="DE24Q" [ngClass]="{'filled': qualityservice.qualityData.dE24Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE24Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE25Q">P Patch Mark:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE25Q" name="DE25Q" [ngClass]="{'filled': qualityservice.qualityData.dE25Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE25Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE26Q">P CR. Burning:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE26Q" name="DE26Q" [ngClass]="{'filled': qualityservice.qualityData.dE26Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE26Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE27Q">P Copper Burning:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE27Q" name="DE27Q" [ngClass]="{'filled': qualityservice.qualityData.dE27Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE27Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE28Q">P Skip Plating:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE28Q" name="DE28Q" [ngClass]="{'filled': qualityservice.qualityData.dE28Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE28Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE29Q">P Roughness:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE29Q" name="DE29Q" [ngClass]="{'filled': qualityservice.qualityData.dE29Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE29Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE30Q">P Water Mark:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE30Q" name="DE30Q" [ngClass]="{'filled': qualityservice.qualityData.dE30Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE30Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE31Q">P White Mark:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE31Q" name="DE31Q" [ngClass]="{'filled': qualityservice.qualityData.dE31Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE31Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE32Q">P Blisters:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE32Q" name="DE32Q" [ngClass]="{'filled': qualityservice.qualityData.dE32Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE32Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE33Q">P Dot Plastic:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE33Q" name="DE33Q" [ngClass]="{'filled': qualityservice.qualityData.dE33Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE33Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE34Q">P Dent:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE34Q" name="DE34Q" [ngClass]="{'filled': qualityservice.qualityData.dE34Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE34Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE35Q">P Shade Variation:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE35Q" name="DE35Q" [ngClass]="{'filled': qualityservice.qualityData.dE35Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE35Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE36Q">P Recipe Change:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE36Q" name="DE36Q" [ngClass]="{'filled': qualityservice.qualityData.dE36Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE36Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE37Q">P Scratch:</label>
                                      </div>
                                      <div class="col-md-8">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE37Q" name="DE37Q" [ngClass]="{'filled': qualityservice.qualityData.dE37Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE37Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE38Q">P Dull Shade:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE38Q" name="DE38Q" [ngClass]="{'filled': qualityservice.qualityData.dE38Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE38Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE39Q">P Pell Off:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE39Q" name="DE39Q" [ngClass]="{'filled': qualityservice.qualityData.dE39Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE39Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE40Q">P Chemical Mark:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE40Q" name="DE40Q" [ngClass]="{'filled': qualityservice.qualityData.dE40Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE40Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE41Q">P Damage:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE41Q" name="DE41Q" [ngClass]="{'filled': qualityservice.qualityData.dE41Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE41Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE42Q">P Dust:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE42Q" name="DE42Q" [ngClass]="{'filled': qualityservice.qualityData.dE42Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE42Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE43Q">P Algi:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE43Q" name="DE43Q" [ngClass]="{'filled': qualityservice.qualityData.dE43Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE43Q"/>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="other px-3 pt-3 mb-0 position-relative border-10">
                            <p class="position-absolute grid-title bg-white px-2">Other</p>
                            <div class="grid-container-2">
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE44Q">O Unload Scratch:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE44Q" name="DE44Q" [ngClass]="{'filled': qualityservice.qualityData.dE44Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE44Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE45Q">O Mechanical Failure:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE45Q" name="DE45Q" [ngClass]="{'filled': qualityservice.qualityData.dE45Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE45Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE46Q">O Damage:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE46Q" name="DE46Q" [ngClass]="{'filled': qualityservice.qualityData.dE46Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE46Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE47Q">O Power Failure:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE47Q" name="DE47Q" [ngClass]="{'filled': qualityservice.qualityData.dE47Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE47Q"/>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group mx-1 mb-1">
                                    <div class="row m-0">
                                      <div class="col-md-4 p-0 in-label">
                                        <label class="" for="DE48Q">O Fallen Down:</label>
                                      </div>
                                      <div class="col-md-8 d-flex align-items-center">
                                        <input class="form-control grp-input-2" type='number' min="0" id="DE48Q" name="DE48Q" [ngClass]="{'filled': qualityservice.qualityData.dE48Q !==0}" (change)="allCalculations()" [(ngModel)]="qualityservice.qualityData.dE48Q"/>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer px-3 py-2">
                        <!-- <button type="button" (click)="deleteDefects()" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <button type="button" (click)="addDefects()" data-dismiss="modal" class="btn btn-primary">Add</button>
                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
