.backdrop{
    top: 76px !important;
}
.card-header{
    padding: .5rem 1.25rem 0px;
}
.btn-sm{
    width: 25px;
    height: 25px;
    padding: 0px;
    font-size: 12px;

}
.view{
    width: 60px;
}
th.itemname {
    width: 150px;
}