.no-margin {
    margin: unset !important;
} 
.input-group {
    margin-bottom: 6px;
    padding-left: 0px;
}
/*.custom-col-2 {
    flex: 0 0 16.666667%;
    max-width: 13.6667%;
}*/
.set-padding{
    padding: 10px 5px;
} 
@media only screen and (max-width: 600px) {
    .custom-col-2 {
        /*flex: 2 0 28.6667%;
        max-width: 28.6667%;*/
    }
  }