<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- /.card -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                  <!-- general form elements -->

                  <div class="card card-primary card-outline">
                    <form #form="ngForm" autocomplete="off" (submit)="onComplete(form)">

                      <div class="card-header">
                        <div class="row ">
                          <div class="col-md-10">
                            <h6 class="card-title-md">Add New Production</h6>
                          </div>
                          <div class="col-md-2" style="text-align: center;">
                            <button type="submit" (click)="onSaveClick()" class="btn btn-success btn-sm  px-3"> Save
                            </button>&nbsp;
                            <Button (click)="backtoProduction()" class="btn btn-primary btn-sm px-3 ">Back</Button>
                          </div>
                        </div>
                      </div>
                      <!-- /.card-header -->
                      <!-- form start -->
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <!--
                                    <input type="hidden" name="id" #id2="ngModel"
                                      [(ngModel)]="productionsService.productionData.id" />-->
                                    <div class="col-md-4 in-label">
                                      <label for="insplot">Insplot:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control" type='number' id="insplot" name="insplot" min="0"
                                        #insplot="ngModel" [(ngModel)]="productionsService.productionData.insplot"
                                        readonly />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label for="orderno">Order Number:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control" type="number" id="orderno" name="orderno"
                                        #orderno="ngModel" [(ngModel)]="productionsService.productionData.orderno"
                                        min="0" readonly />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label for="itemname">Itemname:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <p-autoComplete [style]="{'width':'150px'}" [size]="20"
                                        [(ngModel)]="productionsService.productionData.itemname2" id="itemname2"
                                        name="itemname2" #itemname2="ngModel" [suggestions]="filteredCountries"
                                        (onSelect)="valueM($event)" (completeMethod)="filterCountry($event)"
                                        field="itemname" [dropdown]="false">
                                        <ng-template let-country pTemplate="item">
                                          <div class="country-item">
                                            <div>{{country.itemname}}</div>
                                          </div>
                                        </ng-template>
                                      </p-autoComplete>
                                      <!-- <input class="form-control" type='text' id="itemname" name="itemname"
                                        #itemname="ngModel" [(ngModel)]="productionsService.productionData.itemname" />-->
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label for="itemcode">Itemcode:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control" type='text' id="itemcode" name="itemcode"
                                        #itemcode="ngModel" [(ngModel)]="productionsService.productionData.itemcode"
                                        readonly />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr1" for="qty">Quantity:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-1" [ngClass]="{error:validQtyError}"
                                        type='text' id="qty" name="qty" #qty="ngModel"
                                        [(ngModel)]="productionsService.productionData.qty" readonly />
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label for="plantcode">Plantcode:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <!--<input class="form-control grp-input-3" type='text' id="plantcode" name="plantcode"
                                        #plantcode="ngModel"
                                        [(ngModel)]="productionsService.productionData.plantcode" />-->

                                      <select class="form-control" name="plantcode" #plantcode="ngModel" id="plantcode"
                                        [(ngModel)]="productionsService.productionData.plantcode"
                                        (change)="plantcodeChange()">
                                        <option *ngFor="let pl of plantservice.splantlist" value="{{pl.plantcode}}">
                                          {{ pl.plantshortname }}
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label for="shift">Shift:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control" type='text' id="shift" name="shift" #shift="ngModel"
                                        [(ngModel)]="productionsService.productionData.shift" maxlength="1" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">

                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label for="size">Size:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control" type='text' id="size" name="size" #size="ngModel"
                                        [(ngModel)]="productionsService.productionData.size" />
                                    </div>
                                  </div>
                                </div>

                              </div>

                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label for="type">Type:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control" type='text' id="type" name="type" #type="ngModel"
                                        [(ngModel)]="productionsService.productionData.type" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr2" for="okqty">Ok Quantity:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-2" type='number'
                                        [ngClass]="{error:validQtyError}" (change)="countQty()" min="0" id="okqty"
                                        name="okqty" #okqty="ngModel"
                                        [(ngModel)]="productionsService.productionData.okqty" />
                                    </div>
                                  </div>
                                </div>

                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr2" for="holdqty">Hold Quantity:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-2" type='number'
                                        [ngClass]="{error:validQtyError}" (change)="countQty()" min="0" id="holdqty"
                                        name="holdqty" #holdqty="ngModel"
                                        [(ngModel)]="productionsService.productionData.holdqty" />
                                    </div>
                                  </div>
                                </div>

                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr2" for="buffingqty">Buffing Quantity:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-2" type='number'
                                        [ngClass]="{error:validQtyError}" (change)="countQty()" min="0" id="buffingqty"
                                        name="buffingqty" #buffingqty="ngModel"
                                        [(ngModel)]="productionsService.productionData.buffingqty" />
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-2 custom-col-2">

                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr2" for="rejectionqty">Rejection Quantity:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-2" type='number'
                                        [ngClass]="{error:validQtyError}" (change)="countQty()" min="0"
                                        id="rejectionqty" name="rejectionqty" #rejectionqty="ngModel"
                                        [(ngModel)]="productionsService.productionData.rejectionqty" readonly />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="pitting">Pitting:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="pitting"
                                        name="pitting" #pitting="ngModel"
                                        [(ngModel)]="productionsService.productionData.pitting" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="pinhole">Pinhole:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="pinhole"
                                        name="pinhole" #pinhole="ngModel"
                                        [(ngModel)]="productionsService.productionData.pinhole" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="patchmark">Patchmark:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="patchmark"
                                        name="patchmark" #patchmark="ngModel"
                                        [(ngModel)]="productionsService.productionData.patchmark" />
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="nickle">Nickle:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="nickle"
                                        name="nickle" #nickle="ngModel"
                                        [(ngModel)]="productionsService.productionData.nickle" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="crburning">Crburning:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="crburning"
                                        name="crburning" #crburning="ngModel"
                                        [(ngModel)]="productionsService.productionData.crburning" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="skipplating">Skipplating:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="skipplating"
                                        name="skipplating" #skipplating="ngModel"
                                        [(ngModel)]="productionsService.productionData.skipplating" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="dent">Dent:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="dent"
                                        name="dent" #dent="ngModel"
                                        [(ngModel)]="productionsService.productionData.dent" />
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="handmouldingrej">Handmoulding Rej.:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()"
                                        id="handmouldingrej" name="handmouldingrej" #handmouldingrej="ngModel"
                                        [(ngModel)]="productionsService.productionData.handmouldingrej" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="scratchmark">Scratchmark:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="scratchmark"
                                        name="scratchmark" #scratchmark="ngModel"
                                        [(ngModel)]="productionsService.productionData.scratchmark" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="roughness">Roughness:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="roughness"
                                        name="roughness" #roughness="ngModel"
                                        [(ngModel)]="productionsService.productionData.roughness" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="silver">Silver:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="silver"
                                        name="silver" #silver="ngModel"
                                        [(ngModel)]="productionsService.productionData.silver" />
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="mouldingrej">Mouldingrej:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="mouldingrej"
                                        name="mouldingrej" #mouldingrej="ngModel"
                                        [(ngModel)]="productionsService.productionData.mouldingrej" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="warpage">Warpage:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="warpage"
                                        name="warpage" #warpage="ngModel"
                                        [(ngModel)]="productionsService.productionData.warpage" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="copperburning">Copper Burning:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="copperburning"
                                        name="copperburning" #copperburning="ngModel"
                                        [(ngModel)]="productionsService.productionData.copperburning" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="whitemark">Whitemark:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="whitemark"
                                        name="whitemark" #whitemark="ngModel"
                                        [(ngModel)]="productionsService.productionData.whitemark" />
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="dotplastic">Dotplastic:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="dotplastic"
                                        name="dotplastic" #dotplastic="ngModel"
                                        [(ngModel)]="productionsService.productionData.dotplastic" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="watermark">Watermark:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="watermark"
                                        name="watermark" #watermark="ngModel"
                                        [(ngModel)]="productionsService.productionData.watermark" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="blister">Blister:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="blister"
                                        name="blister" #blister="ngModel"
                                        [(ngModel)]="productionsService.productionData.blister" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="jigdamage">Jig Damage:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="jigdamage"
                                        name="jigdamage" #jigdamage="ngModel"
                                        [(ngModel)]="productionsService.productionData.jigdamage" />
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="otheR1">OtheR1:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="otheR1"
                                        name="otheR1" #otheR1="ngModel"
                                        [(ngModel)]="productionsService.productionData.otheR1" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="otheR2">otheR2:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="otheR2"
                                        name="otheR2" #otheR2="ngModel"
                                        [(ngModel)]="productionsService.productionData.otheR2" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="otheR3">otheR3:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="otheR3"
                                        name="otheR3" #otheR3="ngModel"
                                        [(ngModel)]="productionsService.productionData.otheR3" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="otheR4">otheR4:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="otheR4"
                                        name="otheR4" #otheR4="ngModel"
                                        [(ngModel)]="productionsService.productionData.otheR4" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!--
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="stprs">Stprs:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}"  (change)="countRejQty()" id="stprs" name="stprs" #stprs="ngModel"
                                        [(ngModel)]="productionsService.productionData.stprs" />
                                    </div>
                                  </div>
                                </div>
                              </div>-->
                              <!--
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="plating">Plating:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="plating"
                                        name="plating" #plating="ngModel"
                                        [(ngModel)]="productionsService.productionData.plating" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="moulding">Moulding:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="moulding"
                                        name="moulding" #moulding="ngModel"
                                        [(ngModel)]="productionsService.productionData.moulding" />
                                    </div>
                                  </div>
                                </div>
                              </div>-->
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="mechfail">Mechfail:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="mechfail"
                                        name="mechfail" #mechfail="ngModel"
                                        [(ngModel)]="productionsService.productionData.mechfail" />
                                    </div>
                                  </div>
                                </div>
                              </div>


                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="tooldef">Tooldef:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="tooldef"
                                        name="tooldef" #tooldef="ngModel"
                                        [(ngModel)]="productionsService.productionData.tooldef" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="others">Others:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="others"
                                        name="others" #others="ngModel"
                                        [(ngModel)]="productionsService.productionData.others" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="shadevar">Shadevar:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="shadevar"
                                        name="shadevar" #shadevar="ngModel"
                                        [(ngModel)]="productionsService.productionData.shadevar" />
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="platingpeel">Plating Peel:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="platingpeel"
                                        name="platingpeel" #platingpeel="ngModel"
                                        [(ngModel)]="productionsService.productionData.platingpeel" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="flowmark">Flowmark:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="flowmark"
                                        name="flowmark" #flowmark="ngModel"
                                        [(ngModel)]="productionsService.productionData.flowmark" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="chemicalmark">Chemicalmark:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="chemicalmark"
                                        name="chemicalmark" #chemicalmark="ngModel"
                                        [(ngModel)]="productionsService.productionData.chemicalmark" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!--
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="tottooldef">Tot. Tool Def.:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="tottooldef"
                                        name="tottooldef" #tottooldef="ngModel"
                                        [(ngModel)]="productionsService.productionData.tottooldef" />
                                    </div>
                                  </div>
                                </div>
                              </div>


                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label class="gr3" for="totothers">Tot. Others:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control grp-input-3" type='number' min="0"
                                        [ngClass]="{error:validRejQtyError}" (change)="countRejQty()" id="totothers"
                                        name="totothers" #totothers="ngModel"
                                        [(ngModel)]="productionsService.productionData.totothers" />
                                    </div>
                                  </div>
                                </div>
                              </div>-->
                              <div class="col-md-2 custom-col-2">
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-4 in-label">
                                      <label for="pstngdate">Pstng Date:</label>
                                    </div>
                                    <div class="col-md-8">
                                      <input class="form-control" type='date' id="pstngdate" name="pstngdate"
                                        #pstngdate="ngModel" [readonly]="productionsService.productionData.id > 0"
                                        [(ngModel)]="productionsService.productionData.pstngdate" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                      <!-- /.card-body -->

                    </form>
                    <!-- </form> -->
                  </div>
                  <!-- /.card -->

                  <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!--/.col (right) -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
          <!-- /.col -->
          <div class="mx-2">
            <div></div>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.row -->
    </section>
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->