<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 ml-1">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Task Detail</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="Home.html">Home</a></li>
              <li class="breadcrumb-item active">My Task</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3">
            <Button (click)="backtotask()" class="btn btn-primary btn-block mb-3">Back to Task</Button>
          </div>

          <!-- /.card -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                  <!-- general form elements -->
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title">Read Task</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form #form="ngForm"  autocomplete="off" (submit)="onComplete(form)">
                      <div class="card-body">
                        <div class="row">


                          <div class="col-md-8">
                            <div class="form-group">
                              <div class="row">
                                <input type="hidden" name="isopen" #isopen="ngModel"
                                  [(ngModel)]="service.taskdata.isopen" />
                                <div class="col-md-2">
                                  <label for="exampleInputEmail1">Created Date:</label>
                                </div>
                                <div class="col-md-9">
                                  <span class="mailbox-read-time justify-left text-md" name="createddate">
                                    {{
                                      service.taskdata?.createddate
                                        | date: "mediumDate"
                                    }}
                                  </span>
                                </div>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="row">
                                <div class="col-md-2">
                                  <label for="exampleInputPassword1">Action Date:</label>
                                </div>
                                <div class="col-md-9">
                                  <span class="mailbox-read-time float-left text-md" name="actiondate">
                                    {{
                                      service.taskdata?.actiondate
                                        | date: "mediumDate"
                                    }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-md-2">
                                  <label for="exampleInputPassword1">Description:</label>
                                </div>
                                <div class="col-md-9">
                                  <span class="mailbox-read-time float-left text-md" name="description">
                                    {{ service.taskdata?.description }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-md-2">
                                  <label for="exampleInputPassword1">Reason for complete:</label>
                                </div>
                                <div class="col-md-9">
                                  <span class="mailbox-read-time float-left text-md" name="description">
                                    {{ service.taskdata?.resolvedesc }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- /.card-body -->

                      <div class="card-footer">
                        <div class="row">
                          <div class="col-md-5 text-center"></div>
                          <div class="col-md-2">
                            <button type="submit" (click)="onReopenClick()" class="btn btn-warning  float-left px-3">
                              Reopen
                            </button>
                            <button type="submit" (click)="onSubmitClick()" class="btn btn-success float-right">
                              Approve
                            </button>
                          </div>
                          <div class="col-md-5 text-center"></div>
                        </div>
                      </div>
                    </form>
                    <!-- </form> -->
                  </div>
                  <!-- /.card -->

                  <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!--/.col (right) -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
          <!-- /.col -->
          <div class="mx-2">
            <div></div>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.row -->
    </section>
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

