    .custom-col-2 {
        /*flex: 0 0 38.666667%;
        max-width: 28.966667%;
        padding: unset;
        margin: 2px;*/
    }
    .no-margin {
        margin: unset;
    }
    .no-padding {
        padding: unset;
    }
    .set-padding{
        padding: 10px 5px;
    }
    
  .tbl-th{
    position: sticky;
    background: blue;
    color: white;
    top: 0px;
    z-index: 1;
  }
  
.card-header {
    padding: 0.2rem 1.25rem;
}
.card-body {
    padding: 0px 1.25rem 0.2rem 1.25rem;
}
@media (min-width: 1200px){
    .modal-xl {
        max-width: 1355px;
        margin: 1.25rem auto;
    }
  
  }
  .w-100{
    width: 100%;   
    font-size: 8px;
    padding: .3rem .0rem;
  }
  @media screen and (min-width: 676px) {
    .modal-dialog {
      max-width: 1000px; /* New width for default modal */
    }
}