<!-- Site wrapper -->
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 ml-1">
          <div class="col-sm-6">

          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/nhome">Home</a></li>
              <li class="breadcrumb-item active">Role To Pages
              </li>
            </ol>
          </div>
          <!-- /.col -->
        </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-12">
          <!-- /.card -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <!-- left column -->
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <!-- general form elements -->
                  <div class="card card-primary card-outline">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-sm-6">
                          <h5 class="card-title-md">Role To Pages
                          </h5>
                        </div>
                        <div class="col-sm-6 mb">
                          <select class="form-control" *ngIf="roles" name="role_id" #role_id1 [(ngModel)]="role_id"
                            (change)="rolepage()">
                            <option *ngFor="let pl of roles" value="{{pl.id}}">
                              {{ pl.role }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                      <p-table #dt [value]="pages" dataKey="id" editMode="row" class="ptable"
                        [style]="{'text-align': 'center', 'font-size': '0.7em','width':'100%','margin':'auto'}"
                        [paginator]="true" [rows]="10" [resizableColumns]="true">
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="tbl-th" *ngFor="let col of cols" [width]="col.width">{{col.header}}</th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                          <tr [pEditableRow]="rowData">
                            <td *ngIf="allRoleAssigned && allRoleAssigned.length">
                              <input type="checkbox" [checked]="this.checkPage(rowData.id,rowData)"
                                (change)="saveData($event,rowData)">
                            </td>
                            <td *ngIf="allRoleAssigned && !allRoleAssigned.length">
                              <input type="checkbox" (change)="saveData($event,rowData)">
                            </td>
                            <td>
                              {{rowData.name}}
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->