<div class="wrapper">
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row  resonsive-css mb-2">
            <div class="col-sm-3">
              <select class=" custom-select" (change)="getselectedyear()" name="yearname" #yearname='ngModel' [(ngModel)]='this.Yearname'>
                <option disabled>--Select Year--</option>
                <option value="23-24">2023 - 2024</option>
                <option value="22-23">2022 - 2023</option>
                <option value="21-22">2021 - 2022</option>
              </select>
              
            </div>
            <div class="col-sm-3">
              <select class=" custom-select" (change)="getselectedmonth()" name="Monthname" #Monthname='ngModel'
                [(ngModel)]='this.monthname'>
                <option disabled>--Select Month--</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control align-self-center" *ngIf="plantservice" name="myselect" #mySelect
              (change)="selectedplant($event.target.value)" style="height: 38px; padding: 5px 13px 6px 9px;">
              <option *ngFor="let pl of plantservice.splantlist" value="{{pl.plantcode}}">
                  {{ pl.plantshortname }}
              </option>
          </select>
            </div>
            <div class="col-sm-3">
              <button (click)="monthclick()" class="btn btn-primary ml-1">This Month</button>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
  
  
  
      <div class="card card-info home-card">
        <div class="card-header" >
          <div class="row  resonsive-css">
            <div class="col-md-4">
              <h3 class="card-title">Top 5 Item Rejection Chart - {{ this.plantname }}</h3>
            </div>
            <!-- <div class="col-md-8">
              <div class="card-tools" *ngFor="let tot of this.service.dailyreportsummary">
                <div class="row">
                  <div class="col-md-3 custom-col-3 no-padding">
                    <div class="card text-dark bg-info no-margin">
                      <div class="card-body set-padding">Insp. Value = <b>{{ tot.producevalue }}</b> Lacs</div>
                    </div>
                  </div>
                  <div class="col-md-3 custom-col-3 no-padding">
                    <div class="card text-dark bg-success no-margin">
                      <div class="card-body set-padding">Ok value = <b>{{ tot.okvalue }}</b> Lacs</div>
                    </div>
                  </div>
      
                  <div class="col-md-3 custom-col-3 no-padding">
                    <div class="card text-dark bg-danger  no-margin">
                      <div class="card-body set-padding">Reject value = <b>{{ tot.rejectvalue }}</b> Lacs</div>
                    </div>
                  </div>
                  <div class="col-md-3 custom-col-3 no-padding">
                    <div class="card text-dark bg-warning no-margin">
                      <div class="card-body set-padding">Reject % = <b>{{ tot.rejper }}</b> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="row">
              <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
              <div class="col-md-12">
                <canvas id="myChart" style="width: 100% !important;height:400px !important;"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>