.page-filter{
    border-radius: 10px;
    border: 2px solid rgba(1,41,205,0.5);
    background: #f8f9fa;
}

.heading{
    color: rgba(1,41,205,0.7);
}

.highlight-2{
    background: #f8f9fa;
}

.highlight-3{
    background: #ffefd5;
}

.highlight{
    background: rgba(1,41,205,0.7);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.flash{
    width: 600px;
}

.border-10{
    border-radius: 10px;
}

.card{
     box-shadow: 0 0 5px rgb(0 0 0 / 13%), 0 3px 8px rgb(0 0 0 / 20%);
}

.total-row{
    background: rgba(1,41,205,0.9);
    font-weight: bold;
}

.card-numbers{
    font-size: 20px;
}

.company{
    font-size: 12px;
}

.total{
    right: 7.5px;
    width: 30%;
}

.total-numbers{
    font-size: 70px;
    line-height: 1.2;
}

.total-sub{
    font-size: 13px;
}

.bg-1{
    background: #E47A8A;
}

.bg-2{
    background: #FF9472;
}

.bg-4{
    background: #7762D0;
}

.ag-theme-alpine{
    --ag-foreground-color: rgba(1,41,205,0.7);
    --ag-header-background-color: rgba(1,41,205,0.7);
    --ag-secondary-foreground-color: white;
}

.line{
    width: calc(100% - 240px);
    height: 1px;
    background: rgba(1,41,205,0.7);
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

@media (min-width: 768px) and (max-width: 991px) {
    .total-numbers{
        font-size: 52px;
    }
}

@media (max-width: 1240px) {
    .flash{
        width: 100%;
    }
}