<div class="p-3">
  <div class="page-filter d-flex w-100 p-3">
    <div class="d-flex">
      <h4 class="font-weight-bold page-filter-header mb-0 align-self-center">Quality Control</h4>
    </div>
    <div class="ml-auto mr-md-5 mr-3">
      <select class="custom-select" name="" id="">
        <option value="">--Select Year--</option>
        <option value="">2020</option>
        <option value="">2021</option>
        <option value="">2022</option>
      </select>
    </div>
    <div class="">
      <select class="custom-select" name="" id="">
        <option value="">--Select Month--</option>
        <option value="">Jan</option>
        <option value="">Feb</option>
        <option value="">Mar</option>
        <option value="">Apr</option>
        <option value="">May</option>
        <option value="">Jun</option>
        <option value="">Jul</option>
        <option value="">Aug</option>
        <option value="">Sep</option>
        <option value="">Oct</option>
        <option value="">Nov</option>
        <option value="">Dec</option>
      </select>      
    </div>
  </div>
</div>

<div class="p-3">
  <div class="row m-0 p-3 card">
    <div class="col-sm-8 p-0">
     <h6>Current Month</h6>
     <div class="row m-0">
       <div class="col-4 p-0">
         <div class="row m-0">
           <p class="font-weight-bold mb-0">Company</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">Toyota</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">Toyota</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">Toyota</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">Toyota</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">Toyota</p>
         </div>
       </div>
       <div class="col-4 p-0">
         <div class="row m-0">
           <p class="font-weight-bold flex-fill mb-0">Percentage</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">15%</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">15%</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">15%</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">15%</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">15%</p>
         </div>
       </div>
       <div class="col-4 p-0">
         <div class="row m-0">
           <p class="font-weight-bold flex-fill mb-0">Amount</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">0.25</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">0.25</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">0.25</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">0.25</p>
         </div>
         <div class="row m-0">
           <p class="mb-0">0.25</p>
         </div>
       </div>
     </div>
    </div>
    <div class="col-sm-4 p-0">
    </div>
  </div>
</div>

<div class="overflow-scroll p-3">
  <ag-grid-angular
  style="height: 300px;"
  class="ag-theme-alpine w-100"
  [rowData]="rowData | async"
  [columnDefs]="columnDefs"
  [pivotMode]="true"

  [suppressAggFuncInHeader]="true"
  [animateRows]="true"

  [defaultColDef]="defaultColDef"
  [autoGroupColumnDef]="autoGroupColumnDef">
  </ag-grid-angular>
</div> 