<div class="p-3">
  <div class="page-filter d-flex w-100 px-2 py-1">
    <div class="d-flex">
      <h4 class="font-weight-bold heading mb-0 align-self-center">Quality Control</h4>
    </div>
    <div class="ml-auto mr-md-5 mr-3">
      <select class="custom-select" (change)="getselectedyear()" name="Yearname" #Yearname='ngModel' [(ngModel)]='this.yearname'>
        <option value="">--Select Year--</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
      </select>
    </div>
    <div class="mr-md-5 mr-3">
      <select class="custom-select" (change)="getselectedmonth()" name="Monthname" #Monthname='ngModel' [(ngModel)]='this.monthname'>
        <option value="">--Select Month--</option>
        <option value="Jan">Jan</option>
        <option value="Feb">Feb</option>
        <option value="Mar">Mar</option>
        <option value="Apr">Apr</option>
        <option value="May">May</option>
        <option value="Jun">Jun</option>
        <option value="Jul">Jul</option>
        <option value="Aug">Aug</option>
        <option value="Sep">Sep</option>
        <option value="Oct">Oct</option>
        <option value="Nov">Nov</option>
        <option value="Dec">Dec</option>
      </select>      
    </div>
    <div>
      <button class="btn btn-primary " (click)="onviewDetail()">View</button>  
    </div>
  </div>
</div>

<div class="px-3 my-3">
  <div class="row m-0">
    <div class="col-md-6 p-0 position-relative mb-md-0 mb-5 pr-md-4">
      <div class="card flash highlight-2 border-10 p-3 m-auto">
        <div class="row m-0 mb-3 position-relative">
          <div class="line position-absolute"></div>
          <div class="col-6 p-0 pr-1">
            <h5 style="max-width: 200px; height: 45.2px;" class="border-10 text-center highlight text-white mb-0 p-1 pt-2">{{this.monthname}} {{this.yearname}}</h5>
          </div>
          <div class="col-6 p-0 pl-1">
            <div class="card border-10 bg-2 text-center m-0 p-1 ml-auto" style="max-width: 200px;">
              <div class="row m-0">
                <div class="col-6 p-0">
                  <h5 class="mb-0 mt-1 text-white font-weight-bold text-center">Total</h5>
                </div>
                <div class="col-6 p-0">
                  <div class="d-flex flex-column">
                    <h5 class="text-white mb-0 font-weight-bold card-numbers total-numbers">{{rejValuesMonthly}}</h5>
                    <h6 class="text-white mb-0">lacs</h6>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-3 p-0"></div>
          <div class="col-3 p-0">
            <p class="mb-0 text-center rej-heading heading p-1 font-weight-bold">Rej. Value (in lacs)</p>
          </div>
          <div class="col-3 p-0"></div>
          <div class="col-3 p-0">
            <p class="mb-0 text-center rej-heading heading p-1 font-weight-bold">Rej. Value (in lacs)</p>
          </div>
        </div>
        <div class="row m-0">
          <div class="grid-container w-100">
            <div class="card border-10 bg-4 text-center m-1" *ngFor="let x of monthly">
              <div class="row m-0">
                <div class="col-6 p-0">
                  <div class="d-flex flex-column">
                    <h6 class="mb-0 text-white company">{{x.plant.split(" ", 1)}}</h6>
                    <h6 class="mb-0 text-white font-weight-bold text-center">{{x.plant.split(" ", 2).slice(1,2)}}</h6>
                  </div>
                </div>
                <div class="col-6 p-0">
                  <p class="card-numbers text-white mb-0 font-weight-bold">{{x.value}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-0 position-relative mb-md-0 mb-4">
      <div class="card flash highlight-2 border-10 p-3 m-auto">
        <div class="row m-0 mb-3 position-relative">
          <div class="line position-absolute"></div>
          <div class="col-6 p-0 pr-1">
            <h5 style="max-width: 200px; height: 45.2px;" class="border-10 text-center highlight text-white mb-0 p-1 pt-2">{{this.day}}, {{this.fullDate | date:'shortDate'}}</h5>
          </div>
          <div class="col-6 p-0 pl-1">
            <div class="card border-10 bg-2 text-center m-0 p-1 ml-auto" style="max-width: 200px;">
              <div class="row m-0">
                <div class="col-6 p-0">
                  <h5 class="mb-0 mt-1 text-white font-weight-bold text-center">Total</h5>
                </div>
                <div class="col-6 p-0">
                  <div class="d-flex flex-column">
                    <h5 class="text-white mb-0 font-weight-bold card-numbers total-numbers">{{rejValuesToday}}</h5>
                    <h6 class="text-white mb-0">lacs</h6>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-3 p-0"></div>
          <div class="col-3 p-0">
            <p class="mb-0 text-center rej-heading heading p-1 font-weight-bold">Rej. Value (in lacs)</p>
          </div>
          <div class="col-3 p-0"></div>
          <div class="col-3 p-0">
            <p class="mb-0 text-center rej-heading heading p-1 font-weight-bold">Rej. Value (in lacs)</p>
          </div>
        </div>
        <div class="row m-0">
          <div class="grid-container w-100">
            <div class="card border-10 bg-4 text-center m-1" *ngFor="let x of today">
              <div class="row m-0">
                <div class="col-6 p-0">
                  <div class="d-flex flex-column ml-3">
                    <h6 class="mb-0 text-white company">{{x.plant.split(" ", 1)}}</h6>
                    <h6 class="mb-0 text-white font-weight-bold text-center">{{x.plant.split(" ", 2).slice(1,2)}}</h6>
                  </div>
                </div>
                <div class="col-6 p-0">
                  <p class="card-numbers text-white mb-0 font-weight-bold">{{x.value}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row m-0">
          <div class="col-4 p-0">
            <h5 style="max-width: 200px;" class="heading border-10 text-center highlight text-white mb-0 p-1">{{this.day}}, {{this.date | date:'shortDate'}}</h5>
          </div>
          <div class="col-2 p-0">
            <h5 class="mb-0 text-center heading p-1">Rej. %</h5>
          </div>
          <div class="col-4 p-0">
            <h5 class="mb-0 text-center heading p-1">Rej. Value (in lacs)</h5>
          </div>
        </div>
        <div class="row m-0 my-2 position-relative">
          <div class="card border-10 bg-4 text-center mb-0">
            <div class="row m-0">
              <div class="col-6 p-0">
                <div style="width: 110px;" class="d-flex flex-column ml-3">
                  <h6 class="mb-0 text-white company">GDPL</h6>
                  <h6 class="mb-0 text-white font-weight-bold text-center">Annantpur</h6>
                </div>
              </div>
              <div class="col-3 p-0">
                <p class="card-numbers text-white mb-0">15</p>
              </div>
              <div class="col-6 p-0">
                <p class="card-numbers text-white mb-0">0.45</p>
              </div>
            </div>
          </div>
          <div class="card border-10 bg-2 total text-center position-absolute py-4">
            <div class="d-flex flex-column">
              <h3 class="mb-2 text-white font-weight-bold">Total</h3>
              <p class="total-numbers text-white mb-0 font-weight-bold">35%</p>
              <p class="total-sub text-white font-weight-bold mb-2">Rejection %</p>
              <p class="total-numbers text-white mb-0 font-weight-bold">4.2</p>
              <p class="total-sub mb-1 text-white font-weight-bold">Rej. Value (in lacs)</p>
            </div>
          </div>
        </div>
        <div class="row m-0 mb-2">
          <div class="card border-10 bg-1 text-center mb-0">
            <div class="row m-0">
              <div class="col-6 p-0">
                <div style="width: 110px;" class="d-flex flex-column ml-3">
                  <h6 class="mb-0 text-white company">GDPL</h6>
                  <h6 class="mb-0 text-white font-weight-bold text-center">Chennai</h6>
                </div>
              </div>
              <div class="col-3 p-0">
                <p class="card-numbers text-white mb-0">15</p>
              </div>
              <div class="col-6 p-0">
                <p class="card-numbers text-white mb-0">0.45</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-0 mb-2">
          <div class="card border-10 bg-4 text-center mb-0">
            <div class="row m-0">
              <div class="col-6 p-0">
                <div style="width: 110px;" class="d-flex flex-column ml-3">
                  <h6 class="mb-0 text-white text-white company">GDPL</h6>
                  <h6 class="mb-0 text-white font-weight-bold text-center">Vapi</h6>
                </div>
              </div>
              <div class="col-3 p-0">
                <p class="card-numbers text-white mb-0">15</p>
              </div>
              <div class="col-6 p-0">
                <p class="card-numbers text-white mb-0">0.45</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-0 mb-2">
          <div class="card border-10 bg-1 text-center mb-0">
            <div class="row m-0">
              <div class="col-6 p-0">
                <div style="width: 110px;" class="d-flex flex-column ml-3">
                  <h6 class="mb-0 text-white company">GDPL</h6>
                  <h6 class="mb-0 text-white font-weight-bold text-center">Zaroli</h6>
                </div>
              </div>
              <div class="col-3 p-0">
                <p class="card-numbers text-white mb-0">15</p>
              </div>
              <div class="col-6 p-0">
                <p class="card-numbers text-white mb-0">0.45</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-0 mb-2">
          <div class="card border-10 bg-4 text-center mb-0">
            <div class="row m-0">
              <div class="col-6 p-0">
                <div style="width:110px;" class="d-flex flex-column ml-3">
                  <h6 class="mb-0 text-white company">SHTP</h6>
                  <h6 class="mb-0 text-white font-weight-bold text-center">Vapi</h6>
                </div>
              </div>
              <div class="col-3 p-0">
                <p class="card-numbers text-white mb-0">15</p>
              </div>
              <div class="col-6 p-0">
                <p class="card-numbers text-white mb-0">0.45</p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="overflow-scroll p-3">
  <ag-grid-angular
  style="height: 330px;"
  class="ag-theme-alpine w-100"
  [rowData]="rowData | async"
  [columnDefs]="columnDefs"
  [pivotMode]="true"

  [suppressAggFuncInHeader]="true"
  [animateRows]="true"

  [defaultColDef]="defaultColDef"
  [autoGroupColumnDef]="autoGroupColumnDef">
  </ag-grid-angular>
</div> 