.text-white.custom-box-font {
    font-size: 10px;
    margin: 0px 2px 3px 0px;
}
.custom-box-font-2{
    font-size: 11px;
    margin: 8px 2px 3px 0px;
    font-weight: bolder;
}
.comphr{
    margin: 5px 0px;
    border-top: 1px solid white;
}
.card-block,.card-footer,.card-header {
    padding: 0.25rem 0.96rem
}

.content-header{
    padding: 4px .5rem;
}
.btn-custom-in-grp {
    padding: 5px 5px 5px 5px;
    font-size: 13px;
}

@media (min-width: 1200px){
    .modal-xl {
        max-width: 1240px;
        margin: 1.25rem auto;
    }
  
  }
  body .ui-table .ui-table-tbody > tr > td {
    font-size: 10px;
}
.update-card {
    margin-bottom: 0.1rem;
}
.update-card.card-hedaer{
    border-bottom:  1px solid white;

}