<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <h5>Sales Calendar
            </h5>
          </div>
          <div class="col-sm-4">
            <h6 *ngIf="company_val>0" style="text-align: center;">
              Target Sales - Rs. {{company_val | number:'1.2-2'}} Lacs</h6>
          </div>
          <div class="col-sm-4">
            <div class="row" style="text-align: center;">
              <div class="col-md-6">
                <select class="form-control" *ngIf="plantservice" name="myselect" #mySelect
                  (change)="selectedGrid($event.target.value)" style="height: calc(2.10rem);padding: 5px 13px 6px 9px;">
                  <!-- <option value="0">--Select--</option> -->
                  <option *ngFor="let pl of plantservice.splantlist" value="{{pl.plantcode}}">
                    {{ pl.plantshortname }}
                  </option>
                </select>
              </div>
              <div class="col-md-4" style="padding: unset !important;">
                <button class="btn btn-primary btn-custom-in-grp" (click)="Previous()"
                  style="border-radius: 5px 0px 0px 5px">Previous</button>
                <button class="btn btn-primary  btn-custom-in-grp " (click)="Next()"
                  style="border-radius: 0px 5px 5px 0px;">Next</button>
              </div>
              <div class="col-md-2" style="padding: unset !important;">
                <button class="btn btn-primary " (click)="loaddata()" style="padding: 2px 10px 3px 10px;"><i
                    class="fa fa-refresh" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="mx-2">
            <div class="card card-primary card-outline">
              <div class="card-header ">
                <!--  card-tools -->
                <div class="form-inline">
                  <div style="margin: auto;">
                    <button class="btn btn-custom text-dark bg-summary" (click)="summary()">Summary</button>

                    <button class="btn btn-custom text-dark bg-info" (click)="extraVal('NetSaleDetail')">Net Sales =
                      <b>{{ this.finalNetSale('finlaNetSales') | number:'1.2-2'}}</b>
                      Lacs</button>
                    <button class="btn btn-custom text-dark bg-success" (click)="extraVal('GrosSaleDetail')">Gross Sales
                      =
                      <b>{{ netSales | number:'1.2-2' }}</b>
                      Lacs</button>
                    <button class="btn btn-custom text-dark bg-danger" (click)="extraVal('salesReturnDetail')">Sales Rej
                      =
                      <b>{{ salesRej| number:'1.2-2' }}</b>
                      Lacs</button>
                    <button class="btn btn-custom text-dark bg-warning" (click)="extraVal('cancelinvoicedetail')"
                      style="width: auto;">
                      Cancelled Invoice =
                      <b>{{ cancelledInvoice| number:'1.2-2' }}</b>
                      Lacs</button>
                    <button class="btn btn-custom text-dark bg-moulded" (click)="extraVal('purchasegroupmouldedsum')"
                      style="width: auto;">
                      Moulded =
                      <b>{{ purchaseMoulded | number:'1.2-2' }}</b>
                      Lacs</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-custom text-dark bg-compliance" style="width: auto;" *ngIf="company_val>0">
                      Compliance % =
                      <b>{{ this.finalNetSale('compliance') | number:'1.2-2' }}</b>
                    </button>

                  </div>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0" style="overflow-y: scroll; height:auto;">

                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

                <full-calendar #calendar defaultView="dayGridMonth" [plugins]="calendarPlugins"
                  [header]="options.header" [weekends]="true" [displayEventTime]="false"
                  [events]="dpservice.dailyprodlist" [editable]="true" [aspectRatio]="3.5" height="auto"
                  (dateClick)="dateClick($event)" (eventClick)="eventClick($event)" class="my-calender">
                </full-calendar>
                <div class="table-responsive mailbox-messages">

                  <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer p-0">

              </div>
            </div>

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div>
    </section>
    <!--Summary Modal -->
    <div class="modal fade bd-example-modal-xl" id="summaryModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row col-md-11">
              <div class="col-md-6">
                <h5>Sales Summary
                  <span *ngIf="monthName">({{monthName | date :'MMM'}})</span> </h5>
              </div>

            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xl-2 custom-xl-2 col-md-6" *ngFor="let summaryinfo of plantservice.splantlist">
                <div class="card">
                  <div class="card-block">
                    <div class="row align-items-center">
                      <div class="col-8">
                        <h4 class="text-danger-1 f-w-600" [ngClass]="{'text-success': summaryinfo.totalVal >= 0 }">
                          {{summaryinfo.totalVal  | number:'1.2-2'}}</h4>
                        <h6 class="text-muted m-b-0">Lacs</h6>
                      </div>
                      <div class="col-4 text-right">
                        <i class="feather fa fa-bar-chart f-28"></i>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-danger-1 " [ngClass]="{'bg-success':summaryinfo.totalVal >= 0 }">
                    <div class="row align-items-center">
                      <div class="col-9">
                        <a class="text-white m-b-0 tip">{{ summaryinfo.plantshortname}}

                          <span class="tooltiptext">
                            Gross Sales : {{summaryinfo.grossSale | number:'1.2-2' }}<br>
                            Sales Return : {{summaryinfo.salesReturn  | number:'1.2-2'}}<br>
                            Cancel Inv. : {{summaryinfo.cancelInv | number:'1.2-2'}}<br>
                            Moulded : {{summaryinfo.moulded | number:'1.2-2'}}<br>
                          </span>
                        </a>
                      </div>
                      <div class="col-3 text-right">
                        <i class="feather icon-trending-up text-white f-16"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-md-12">
                <div class="card">
                  <div class="card-block text-center">
                    <h3>Total Net Sales : <b class="text-danger-1"
                        [ngClass]="{'text-success': grand_netsales >= 0 }">{{ grand_netsales  | number:'1.2-2' }}</b>
                      Lacs</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div style="margin: auto;">
                <button class="btn btn-custom text-dark bg-success">
                  Gross Sales = <b>{{ netSalesTotal | number:'1.2-2' }}</b> Lacs
                </button>
                <button class="btn btn-custom text-dark bg-danger">
                  Sales Return = <b>{{ salesReturnTotal | number:'1.2-2' }}</b> Lacs
                </button>
                <button class="btn btn-custom text-dark bg-warning">
                  Cancel Invoice = <b>{{ cancelInvTotal | number:'1.2-2' }}</b> Lacs
                </button>
                <button class="btn btn-custom text-dark bg-moulded">
                  Moulded = <b>{{ mouldedTotal | number:'1.2-2' }}</b> Lacs
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-xl" id="basicExampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row col-md-11">
              <div class="col-md-6">
                <h5>Sales Summary
                  <span *ngIf="!monthName">({{selected_eventdate | date :'dd MMM, y'}})</span>
                  <span *ngIf="monthName">({{monthName | date :'MMM'}})</span> </h5>
              </div>
              <div class="col-md-5">
                <h4>{{selected_plantname }}</h4>
              </div>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

          </div>
          <div class="modal-body">
            <div style="overflow-y: scroll; height: 350px;">
              <p-table #dt [columns]="cols" [style]="{'text-align': 'center', 'font-size': '0.7em'}" [responsive]="true"
                selectionMode="single" [style]="{'width':'100%'}" [(selection)]="selectedItemrej"
                [value]="dpservice.salesdetail" [paginator]="false" [rows]="5" [responsive]="true">

                <ng-template pTemplate="header" let-columns>
                  <!-- header button section -->
                  <tr>
                    <td style=" width:210px;" *ngIf="modalType==1">
                      <div class="input-group mb-2 ">
                        <input type="text" pInputText placeholder="Global Filter"
                          (input)="dt.filterGlobal($event.target.value, 'contains')" class="form-control fix-height">
                        <div class="input-group-append fix-height">
                          <i class="fa fa-search input-group-text"></i>
                        </div>
                      </div>
                    </td>
                    <td style="width:210px;" *ngIf="modalType==2" colspan="2">
                      <div class="input-group mb-2 ">
                        <input type="text" pInputText placeholder="Global Filter"
                          (input)="dt.filterGlobal($event.target.value, 'contains')" class="form-control fix-height">
                        <div class="input-group-append fix-height">
                          <i class="fa fa-search input-group-text"></i>
                        </div>
                      </div>
                    </td>
                    <td style="width:115px;">
                      <button type="button" label="EXCEL" (click)="dt.exportCSV()" class="btn btn-success btn-sm mb-2">
                        <i class="fa fa-file-excel-o"></i> Export</button>
                    </td>

                    <td colspan="2" *ngIf="modalType==1" style="width: 300px;"></td>
                    <td style="width:170px;" *ngIf="modalType==1">
                      <button class="btn btn-sm  text-dark bg-info mb-2" style="float: right;">
                        Total Bas. : {{ basicamtinr | number:'1.2-2'}} Lacs
                      </button>
                    </td>
                    <!--<td style=" width:170px;" *ngIf="modalType==1">
                      <button class="btn btn-sm  text-dark bg-success mb-2" style="float: right;">
                        Total Val. : {{ totalvalue | number:'1.2-2'}} Lacs
                      </button>
                    </td>-->

                    <td colspan="4" style="width: 645px;" *ngIf="modalType==2 "></td>
                    <td style="width:180px;" *ngIf="modalType==2">
                      <button class="btn btn-sm  text-dark bg-info mb-2" [ngClass]="totalSumofBg" style="float: right;">
                        {{totalSumofTitle}} : {{ totalSumofValue | number:'1.2-2'}} Lacs
                      </button>
                    </td>

                  </tr>
                  <!-- regular date section -->

                  <tr class="tbl-tr">
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="width:140px" class="tbl-th">
                      {{col.header}}
                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">

                    <td *ngFor="let col of columns">
                      <span *ngIf="col.field=='billingDocDate'">
                        {{rowData[col.field]  | date :'dd MMM, y'}}
                      </span>
                      <span *ngIf="col.field!='billingDocDate' ">
                        {{rowData[col.field]}}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-xl" id="basicExampleModalforpurchase" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row col-md-11">
              <div class="col-md-6">
                <h5>Sales Summary
                  <span *ngIf="!monthName">({{selected_eventdate | date :'dd MMM, y'}})</span>
                  <span *ngIf="monthName">({{monthName | date :'MMM'}})</span> </h5>
              </div>
              <div class="col-md-5">
                <h4>{{selected_plantname }}</h4>
              </div>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

          </div>
          <div class="modal-body">
            <div style="overflow-y: scroll; height: 450px;">
              <p-table #dt2 [columns]="cols" [style]="{'text-align': 'center', 'font-size': '0.7em'}"
                [responsive]="true" selectionMode="single" [style]="{'width':'100%'}" [(selection)]="selectedItemrej"
                [value]="dpservicePurchase.purchasedetail" [paginator]="false" [rows]="15" [responsive]="true">

                <ng-template pTemplate="header" let-columns>
                  <!-- header button section -->
                  <tr>
                    <td colspan="2" style=" width:210px;">
                      <div class="input-group mb-2 ">
                        <input type="text" pInputText placeholder="Global Filter"
                          (input)="dt2.filterGlobal($event.target.value, 'contains')" class="form-control fix-height">
                        <div class="input-group-append fix-height">
                          <i class="fa fa-search input-group-text"></i>
                        </div>
                      </div>
                    </td>
                    <td style="width:115px;">
                      <button type="button" label="EXCEL" (click)="dt2.exportCSV()" class="btn btn-success btn-sm mb-2">
                        <i class="fa fa-file-excel-o"></i> Export</button>
                    </td>
                    <td colspan="2" style="width: 645px;"></td>
                    <td style="width:180px;">
                      <button class="btn btn-sm  text-dark bg-info mb-2" [ngClass]="totalSumofBg" style="float: right;">
                        Total : {{ totalSumofValue | number:'1.2-2'}} Lacs
                      </button>
                    </td>

                  </tr>
                  <!-- regular date section -->

                  <tr class="tbl-tr">
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="width:140px" class="tbl-th">
                      {{col.header}}
                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">

                    <td *ngFor="let col of columns">
                      <span *ngIf="col.field=='acDocumentDate'">
                        {{rowData[col.field]  | date :'dd MMM, y'}}
                      </span>
                      <span *ngIf="col.field!='acDocumentDate' ">
                        {{rowData[col.field]}}</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- /.content-wrapper -->