<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h5>PPC Calendar
            </h5>
          </div>
          <div class="col-sm-6">
            <div class="row" style="text-align: center;">
              <!--<div class="col-md-2" style="padding: unset !important;">
                <button class="btn btn-success" (click)="getView()">PPC</button>
              </div>-->
              <div class="col-md-8" style="padding: 0px 7px 0px 0px;text-align: right !important;">
                <button class="btn btn-info" style="padding: 8px 2px;font-size: 14px;">Schedule Value
                  {{schedulevalue | number:'1.2-2'}} Lacs</button>&nbsp;
                <button class="btn btn-success" (click)="ppcsummaryclone()">PPC</button> &nbsp;
                <button class="btn bg-summary " (click)="summary2()">Sch Vs Disp</button>&nbsp;
              </div>
              <div class="col-sm-3 mb-2" style="padding: unset !important;">
                <select class="custom-select" name="Monthname" (change)="selectedMonth($event.target.value)"
                  #Monthname='ngModel' [(ngModel)]='monthname'>
                  <option value="Jan">Jan</option>
                  <option value="Feb">Feb</option>
                  <option value="Mar">Mar</option>
                  <option value="Apr">Apr</option>
                  <option value="May">May</option>
                  <option value="June">June</option>
                  <option value="July">July</option>
                  <option value="Aug">Aug</option>
                  <option value="Sept">Sept</option>
                  <option value="Oct">Oct</option>
                  <option value="Nov">Nov</option>
                  <option value="Dec">Dec</option>
                </select>
              </div>


              <div class="col-md-1" style="padding: unset !important;">
                <button class="btn btn-primary " (click)="loaddata()"><i class="fa fa-refresh"
                    aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <h5>{{monthname}} Compliance</h5>
        </div>
        <div class="col-md-5  text-right">
          <button class="btn bg-info " (click)="allData()">ALL Compliance</button>
        </div>
        <div class="col-md-1 text-right">
          <h5 class="bg-yellow btn" style="color: white !important;font-weight: bold;">{{compliancePer}}%
          </h5>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4">
          <!--.card 1-->
          <div class="card card-primary card-outline">
            <div class="card-header">
              <div class="row ">
                <div class="col-md-12 text-center">
                  <h5 class="card-title-md">{{monthname}} (1st to 10th)</h5>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="row">

                <div class="col-xl-12 col-md-6" (click)="summary(firstcolumn[0],10,20,30)">
                  <div class="card bg-danger update-card">
                    <div class="card-block">
                      <div class="row align-items-end">
                        <div class="col-8">
                          <h4 class="text-white">
                            {{ this.calPer(length1,allrecord) | number:'1.2-2' }}%

                          </h4>
                          <h6 class="text-white m-b-0">Below 32%</h6>
                        </div>
                        <div class="col-4 text-right">
                          <i class="fa fa-hourglass-end" style="font-size: 35px"></i>

                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>
                        No. of Record
                        {{ length1 }}
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-12 col-md-6" (click)="summary(firstcolumn[1],34,35,36)">
                  <div class="card bg-yellow update-card">
                    <div class="card-block">
                      <div class="row align-items-end">
                        <div class="col-8">
                          <h4 class="text-white">
                            {{ this.calPer(length2,allrecord) | number:'1.2-2' }}%

                          </h4>
                          <h6 class="text-white m-b-0">33% to 36%</h6>
                        </div>
                        <div class="col-4 text-right">
                          <i class="fa fa-hourglass-half" style="font-size: 35px"></i>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>
                        No. of Record {{ length2 }}</p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-12 col-md-6" (click)="summary(firstcolumn[2],50,75,100)">
                  <div class="card bg-success update-card">
                    <div class="card-block">
                      <div class="row align-items-end">
                        <div class="col-8">
                          <h4 class="text-white">
                            {{ this.calPer(length3,allrecord) | number:'1.2-2' }}%

                          </h4>
                          <h6 class="text-white m-b-0">Above 36%</h6>
                        </div>
                        <div class="col-4 text-right">
                          <i class="fa fa-hourglass-start" style="font-size: 35px"></i>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>
                        No. of Record {{ length3 }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <!-- /.card 1 -->
          <!-- /.col -->
        </div>

        <div class="col-md-4">
          <!--.card 1-->
          <div class="card card-primary card-outline">
            <div class="card-header">
              <div class="row ">
                <div class="col-md-12 text-center">
                  <h5 class="card-title-md">{{monthname}} (11st to 20th)</h5>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="row">

                <div class="col-xl-12 col-md-6" (click)="summary(secondcolumn[0],20,40,60)">
                  <div class="card bg-danger update-card">
                    <div class="card-block">
                      <div class="row align-items-end">
                        <div class="col-8">
                          <h4 class="text-white">
                            {{ this.calPer(length4,allrecord) | number:'1.2-2' }}%

                          </h4>
                          <h6 class="text-white m-b-0">Below 60%</h6>
                        </div>
                        <div class="col-4 text-right">
                          <i class="fa fa-hourglass-end" style="font-size: 35px"></i>

                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>
                        No. of Record {{ length4 }}</p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-12 col-md-6" (click)="summary(secondcolumn[1],62,64,65)">
                  <div class="card bg-yellow update-card">
                    <div class="card-block">
                      <div class="row align-items-end">
                        <div class="col-8">
                          <h4 class="text-white">
                            {{ this.calPer(length5,allrecord) | number:'1.2-2' }}%

                          </h4>
                          <h6 class="text-white m-b-0">61% to 65%</h6>
                        </div>
                        <div class="col-4 text-right">
                          <i class="fa fa-hourglass-half" style="font-size: 35px"></i>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>
                        No. of Record {{ length5 }}</p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-12 col-md-6" (click)="summary(secondcolumn[2],75,90,100)">
                  <div class="card bg-success update-card">
                    <div class="card-block">
                      <div class="row align-items-end">
                        <div class="col-8">
                          <h4 class="text-white">
                            {{ this.calPer(length6,allrecord) | number:'1.2-2' }}%

                          </h4>
                          <h6 class="text-white m-b-0">Above 65%</h6>
                        </div>
                        <div class="col-4 text-right">
                          <i class="fa fa-hourglass-start" style="font-size: 35px"></i>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>
                        No. of Record {{ length6 }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- /.card 1 -->
          <!-- /.col -->
        </div>


        <div class="col-md-4">
          <!--.card 1-->
          <div class="card card-primary card-outline">
            <div class="card-header">
              <div class="row ">
                <div class="col-md-12 text-center">
                  <h5 class="card-title-md">{{monthname}} (21st to {{lastDate}}th)</h5>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-xl-12 col-md-6" (click)="summary(thirdcolumn[0],30,60,90)">
                  <div class="card bg-danger update-card">
                    <div class="card-block">
                      <div class="row align-items-end">
                        <div class="col-8">
                          <h4 class="text-white">
                            {{ this.calPer(length7,allrecord) | number:'1.2-2' }}%

                          </h4>
                          <h6 class="text-white m-b-0">Below 90%</h6>
                        </div>
                        <div class="col-4 text-right">
                          <i class="fa fa-hourglass-end" style="font-size: 35px"></i>

                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>
                        No. of Record {{ length7 }}</p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-12 col-md-6" (click)="summary(thirdcolumn[1],93,96,98)">
                  <div class="card bg-yellow update-card">
                    <div class="card-block">
                      <div class="row align-items-end">
                        <div class="col-8">

                          <h4 class="text-white">
                            {{ this.calPer(length8,allrecord) | number:'1.2-2' }}%
                          </h4>

                          <h6 class="text-white m-b-0">91% to 98%</h6>
                        </div>
                        <div class="col-4 text-right">
                          <i class="fa fa-hourglass-half" style="font-size: 35px"></i>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>
                        No. of Record {{ length8 }}</p>
                    </div>
                  </div>
                </div>

                <div class="col-xl-12 col-md-6" (click)="summary(thirdcolumn[2],98,99,100)">
                  <div class="card bg-success update-card">
                    <div class="card-block">
                      <div class="row align-items-end">
                        <div class="col-8">
                          <h4 class="text-white">
                            {{ this.calPer(length9,allrecord) | number:'1.2-2' }}%
                          </h4>
                          <h6 class="text-white m-b-0">Above 98%</h6>
                        </div>
                        <div class="col-4 text-right">
                          <i class="fa fa-hourglass-start" style="font-size: 35px"></i>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>
                        No. of Record {{ length9 }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card 1 -->
          <!-- /.col -->
        </div>


      </div>
    </section>

    <!--Summary Modal -->
    <div class="modal fade bd-example-modal-xl" id="summaryModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row col-md-11">
              <div class="col-md-6">
                <h5>PPC Summary
                  <span *ngIf="monthname">({{monthname}})</span>
                </h5>
              </div>

            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div style="overflow-y: scroll; height: 550px;">
              <p-table #dt2 [columns]="cols" [style]="{'text-align': 'center', 'font-size': '0.7em'}"
                [responsive]="true" selectionMode="single" [style]="{'width':'100%'}" [value]="summaryModalData"
                [paginator]="false" [rows]="15" [responsive]="true">

                <ng-template pTemplate="header" let-columns>
                  <!-- header button section -->
                  <tr>
                    <td style=" width:185px;">
                      <div class="input-group mb-2 ">
                        <input type="text" pInputText placeholder="Global Filter"
                          (input)="dt2.filterGlobal($event.target.value, 'contains')"
                          (input)="loadmdata($event.target.value , dt2)" class="form-control fix-height">
                        <div class="input-group-append fix-height">
                          <i class="fa fa-search input-group-text"></i>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="modaltype==2" style="width: 111px;">
                      <select name="galvaGroupid" class="form-control mb-2" [(ngModel)]="galvaGroupid"
                        (change)="selectedGalvaGroup($event.target.value)"
                        style="height: calc(2.01rem + 2px);font-size: 12px;padding: 0.315rem .45rem;">
                        <option value="ppcsummary">Galva Group</option>
                        <option value="ppcsummaryshpt">Galva SHPT</option>
                      </select>
                    </td>
                    <td *ngIf="modaltype==2" style="width: 225px;">
                      <button type="button" label="EXCEL" (click)="dt2.exportCSV()" class="btn btn-success btn-sm mb-2">
                        <i class="fa fa-file-excel-o"></i> Export</button>
                    </td>
                    <td *ngIf="modaltype==2">
                    </td>
                    <td *ngIf="modaltype==2" style="width: 100px;">
                      <button class="btn btn-sm btn-success"
                        style="padding: 6px 2px;font-size: 10px;">{{schedulevalue | number:'1.2-2'}} Lacs</button>
                    </td>
                    <td *ngIf="modaltype==1"> <button type="button" label="EXCEL" (click)="dt2.exportCSV()"
                        class="btn btn-success btn-sm mb-2">
                        <i class="fa fa-file-excel-o"></i> Export</button></td>
                    <td *ngIf="modaltype==1" style="width: 220px;">

                    </td>

                  </tr>
                  <!-- regular date section -->

                  <tr class="tbl-tr">
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="width:140px;font-size: 10px;"
                      class="tbl-th">
                      {{col.header}}
                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">

                    <td *ngFor="let col of columns" [ngClass]="bgClass">
                      <span *ngIf="col.field=='budat'">
                        {{rowData[col.field]  | date :'dd MMM, y'}}
                      </span>
                      <span *ngIf="col.field=='itemcode'">
                        {{ this.customNumber(rowData[col.field]) }}
                      </span>
                      <span *ngIf="col.field=='schvalue'">
                        {{ this.customNumber(rowData[col.field]) }}
                      </span>
                      <span
                        *ngIf="col.field!='schvalue' && col.field!='budat' && col.field!='itemcode' && col.field!='comp'">
                        {{rowData[col.field]}}</span>

                      <span *ngIf="col.field=='comp' && removeBg==0 ">

                        <button class="btn btn-danger myCompbtn" *ngIf="rowData[col.field]<red">
                          {{rowData[col.field]  | number:'1.0-0'  }}</button>
                        <button class="btn btn-warning myCompbtn"
                          *ngIf="rowData[col.field]>=red && rowData[col.field] < orange">
                          {{rowData[col.field]  | number:'1.0-0' }}</button>
                        <button class="btn btn-success myCompbtn" *ngIf="rowData[col.field]>=orange">
                          {{rowData[col.field]  | number:'1.0-0'  }}</button>

                      </span>
                      <span *ngIf="col.field=='comp' && removeBg==1 ">
                        <button class="btn btn-danger myCompbtn" *ngIf="rowData[col.field]<50">
                          {{rowData[col.field]  | number:'1.0-0'  }}</button>
                        <button class="btn btn-warning myCompbtn"
                          *ngIf="rowData[col.field]>=50 && rowData[col.field] < 80">
                          {{rowData[col.field]  | number:'1.0-0' }}</button>
                        <button class="btn btn-success myCompbtn" *ngIf="rowData[col.field]>=80">
                          {{rowData[col.field]  | number:'1.0-0'  }}</button>
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--view Modal -->
    <div class="modal fade bd-example-modal-xl" id="viewModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row col-md-11">
              <div class="col-md-6">
                <h5>PPC Calendar Summary
                </h5>
              </div>

            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div style="overflow-y: scroll; height: 550px;">
              <p-table #dt [value]="viewModalData" dataKey="id" editMode="row" class="ptable"
                [style]="{'text-align': 'center', 'font-size': '0.7em'}" [paginator]="true" [rows]="20"
                [resizableColumns]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="tbl-th" *ngFor="let col of cols" [width]="col.width">{{col.header}}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                  <tr [pEditableRow]="rowData">
                    <td style="text-align:center">
                      <button *ngIf="!editing" pButton type="button" icon="pi pi-trash" class="ui-button-danger"
                        (click)="onRowDelete(rowData)"></button>&nbsp;
                      <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                        class="ui-button-info" (click)="onRowEditInit(rowData)"></button>

                      <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                      <button *ngIf="editing" pButton type="submit" pSaveEditableRow icon="pi pi-check"
                        class="ui-button-success" style="margin-left: .5em" (click)="onRowEditSave(rowData)"></button>
                    </td>

                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData.custno" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.custno}}
                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData.itemcode" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.itemcode}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData.itemname" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.itemname}}
                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.schqty" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.schqty}}
                        </ng-template>
                      </p-cellEditor>
                    </td>


                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.dispatchqty" class="form-control"
                            required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.dispatchqty}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.balance" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.balance}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.totaltransit" class="form-control"
                            required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.totaltransit}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.fgVZ" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.fgVZ}}
                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.fgother" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.fgother}}
                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.platingpartreq" class="form-control"
                            required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.platingpartreq}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.mouldpartreq" class="form-control"
                            required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.mouldpartreq}}
                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.fgmouldstock" class="form-control"
                            required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.fgmouldstock}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.comp" class="form-control " required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.comp }}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="date" [(ngModel)]="rowData.dispatchDate" class="form-control"
                            required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.dispatchDate  | date : 'dd/MM/yyyy'}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <!--
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.linenum" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.linenum}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.dispatchval" class="form-control"
                            required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.dispatchval}}</ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.stock" class="form-control " required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.stock}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.totalstock" class="form-control"
                            required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.totalstock}}
                        </ng-template>
                      </p-cellEditor>
                    </td>

                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.transit" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.transit}}
                        </ng-template>
                      </p-cellEditor>
                    </td>-->
                    <!--<td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData.orderno" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.orderno}}
                        </ng-template>
                      </p-cellEditor>
                    </td>  <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData.plant" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.plant}}
                        </ng-template>
                      </p-cellEditor>
                    </td><td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" min="0" [(ngModel)]="rowData.price" class="form-control"
                            required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.price}}
                        </ng-template>
                      </p-cellEditor>
                    </td>-->
                    <!--
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="number" [(ngModel)]="rowData.schvalue" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.schvalue}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <input pInputText type="date" [(ngModel)]="rowData.budat" class="form-control" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.budat  | date : 'dd/MM/yyyy'}}
                        </ng-template>
                      </p-cellEditor>
                    </td>-->
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ppcsummaryclone-->
    <div class="modal fade bd-example-modal-xl" id="ppcsummaryclone" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row col-md-11">
              <div class="col-md-6">
                <h5>Production Planning Requirement for the month of
                  <span *ngIf="monthname">{{monthname}}</span>
                </h5>
              </div>

            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div style="overflow-y: scroll; height: 550px;">
              <ngx-loading [show]="ppcsummarycloneLoader" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>


              <p-table #dt [columns]="cols" [style]="{'text-align': 'center', 'font-size': '0.7em'}" [responsive]="true"
                selectionMode="single" [style]="{'width':'100%'}" [value]="ppcsummarycloneData" [paginator]="false"
                [rows]="15" [responsive]="true">

                <ng-template pTemplate="header" let-columns>
                  <!-- header button section -->
                  <tr>
                    <td style="width:180px;">
                      <div class="input-group mb-2 ">
                        <input type="text" pInputText placeholder="Global Filter"
                          (input)="dt.filterGlobal($event.target.value, 'contains')"
                          (input)="loadmdata($event.target.value , dt)" class="form-control fix-height">
                        <div class="input-group-append fix-height">
                          <i class="fa fa-search input-group-text"></i>
                        </div>
                      </div>
                    </td>
                    <td style="width: 95px;">
                      <button type="button" label="EXCEL" (click)="dt.exportCSV()" class="btn btn-success btn-sm mb-2">
                        <i class="fa fa-file-excel-o"></i> Export</button>
                    </td>
                    <td style="width: 235px;">
                    </td>
                    <td></td>
                    <td style="width: 100px;">
                      <button class="btn btn-sm btn-success"
                        style="padding: 6px 2px;font-size: 10px;">{{schedulevalue | number:'1.2-2'}} Lacs</button>
                    </td>
                  </tr>
                  <!-- regular date section -->

                  <tr class="tbl-tr">
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="width:140px;font-size: 10px;"
                      class="tbl-th">
                      {{col.header}}
                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">

                    <td *ngFor="let col of columns" [ngClass]="bgClass">
                      <span *ngIf="col.field=='budat'">
                        {{rowData[col.field]  | date :'dd MMM, y'}}
                      </span>
                      <span *ngIf="col.field=='itemcode'">
                        {{ this.customNumber(rowData[col.field]) }}
                      </span>
                      <span *ngIf="col.field=='schvalue'">
                        {{ this.customNumber(rowData[col.field]) }}
                      </span>
                      <span
                        *ngIf="col.field!='schvalue' && col.field!='budat' && col.field!='itemcode' && col.field!='comp'">
                        {{rowData[col.field]}}</span>

                      <span *ngIf="col.field=='comp'">

                        <button class="btn btn-danger myCompbtn" *ngIf="rowData[col.field]<red">
                          {{rowData[col.field]}}</button>
                        <button class="btn btn-warning myCompbtn"
                          *ngIf="rowData[col.field]>=red && rowData[col.field] < orange">
                          {{rowData[col.field]}}</button>
                        <button class="btn btn-success myCompbtn" *ngIf="rowData[col.field]>=orange">
                          {{rowData[col.field]}}</button>

                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-wrapper -->