.form-control{
    padding: 3px;
    font-size: 10px;
}
li.breadcrumb-item{
    font-size: 0.8rem;
}
.content-header {
  padding: 8px .5rem; 
}
body .ui-table .ui-table-tbody > tr > td {
    padding: 0.371em 0.657em;
}
.no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.no-spin {
    text-align: center;
}
.errorInput{
    border: 1px solid red;
}
.greenBg{
    color: green;    border: 1px solid;

}
.orangeBg{
    color: orange;    border: 1px solid;

}  
.redBg{
    color: red;    border: 1px solid;

}
p-celleditor {
    font-size: 9.9px;
}
.tbl-th {
    font-size: 10px;
}
.ptable{
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg); /* IE 9 */
    -webkit-transform:rotateX(180deg);
}
.ui-table table {
    transform: rotateX(180deg);
}
