
<div class="px-3 mb-3">
  <div class="row m-0 px-md-4 px-1">
    <div class="card w-100 highlight-2 border-10 m-auto">
      <div class="overflow-scroll p-3">
        <ag-grid-angular
        style="height: 800px;"
        class="ag-theme-alpine w-100"
        [rowData]="rowData"
        [suppressAggFuncInHeader]="true"
        [animateRows]="true"
        [columnDefs]="columnDefs"
        [autoGroupColumnDef]="autoGroupColumnDef"
        [defaultColDef]="defaultColDef"
        [gridOptions]="gridOptions"
        >
        </ag-grid-angular>
      </div> 
    </div>
  </div>