.no-margin {
    margin: unset !important;
} 
.input-group {
    margin-bottom: 6px;
    padding-left: 0px;
}
/*.custom-col-2 {
    flex: 0 0 16.666667%;
    max-width: 13.6667%;
}*/
.set-padding{
    padding: 10px 5px;
} 

@media (min-width: 1200px){
    .modal-xl {
        max-width: 1300px !important;
        margin: 1.25rem auto;
    }
  
  }