
.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.btn-primary:active:focus {
    color: #ffffff; 
    background-color: #161617; 
    border-color: #494F57;
    outline: thick;
  }
  .input-group.col-5 {
    margin-bottom: 6px;
    padding-left: 0px;
}