<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="overflow-y: hidden;overflow-x: hidden;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 ml-1">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">My Rejection</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="Home.html">Home</a></li>
              <li class="breadcrumb-item active">Daily Rejection</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="row ml-1">
      <div class="col-md-10">


        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="mx-2">
                <div class="card card-primary card-outline">
                  <div class="card-header ">
                    <div class="row">
                      <div class="col-md-8">
                        <h3 class="card-title mt-1">Inbox</h3>
                      </div>
                      <div class="col-md-2">
                        <select class=" custom-select" name="myselect" #mySelect
                          (change)="selectedGrid($event.target.value)">
                          <option value="0">--Select--</option>
                          <option *ngFor="let pl of plantservice.plantlist" value="{{pl.plantCode}}">
                            {{ pl.plantShortName }}
                          </option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <input class="form-control " type="search" placeholder="Search" aria-label="Search" />
                      </div>
                    </div>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body ">
                    <div class="todo-list text-success ml-3" data-widget="todo-list"
                      *ngIf="DPservice.dailyprodlist.length == 0">
                      No Records Found
                    </div>
                    <div class="table-responsive mailbox-messages">
                      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                      <table class="table table-hover table-striped">
                        <thead *ngIf="DPservice.dailyprodlist.length > 0">
                          <tr class="text-center">
                            <th></th>
                            <th> Date </th>
                            <th>Rejection %</th>

                          </tr>
                        </thead>

                        <tbody>
                          <ng-container *ngFor="
                            let message of DPservice.dailyprodlist| paginate: { itemsPerPage: 5, currentPage: cpage }
                            ">
                            <tr class="text-center">
                              <td class="mailbox-star">
                                <button class="btn btn-secondary" *ngIf="message.title < 20" [ngClass]="{
                                  'disabled': message.title < 20
                                }">
                                  View
                                </button>
                                <button class="btn btn-primary" *ngIf="message.title >=20" (click)="
                                  openRejectiondetail(message.id)">
                                  View
                                </button>
                              </td>
                              <td class="font-weight-bold">
                                {{ message.date | date: "mediumDate" }}
                              </td>
                              <td>
                                <span class=" badge px-3 text-lg  text-right align-self-center " id="result" [ngClass]="{
                                'badge-danger':
                                message.title >=20 ,
                                'badge-warning':
                                message.title >=15 && message.title<20,
                                'badge-success':
                                message.title<15
                                
                              }">
                                  {{ message.title }}
                                </span>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer p-0">
                    <div class="mailbox-controls" *ngIf="DPservice.dailyprodlist.length > 0">
                      <div class="float-right">
                        <pagination-controls (pageChange)="cpage = $event"></pagination-controls>
                        <div class="btn-group"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
          </div>
          <!-- /.row -->
        </section>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
