<div class="px-5 py-4">
  <div class="card highlight-2 border-10 p-3">
    <div class="page-filter d-flex w-100 px-2 py-1">
      <div class="d-flex">
        <h5 class="font-weight-bold heading mb-0 align-self-center">Capacity Utilization Actual Round</h5>
      </div>
      <!-- <div class="input-group custome-gs ml-auto" style="max-width: 250px;">
                <input type="text" class="form-control" pInputText placeholder="Global Filter"
                  (input)="dt.filterGlobal($event.target.value, 'contains')">
                <div class="input-group-append">
                  <i class="fa fa-search input-group-text"></i>
                </div>
            </div> -->
      <div class="ml-5">
        <select class="custom-select" (change)="getselectedtype()" name="Typename" #Typename='ngModel'
          [(ngModel)]='this.typename'>
          <option value="ALL">ALL</option>
          <option value="Chrome">Chrome</option>
          <option value="Satin">Satin</option>
        </select>
      </div>
      <div class="ml-2">
        <select class="form-control align-self-center" *ngIf="plantservice" name="myselect" #mySelect
          (change)="selectedGrid($event.target.value)" style="height: 38px; padding: 5px 13px 6px 9px;">
          <!-- <option value="0">--Select--</option> -->
          <option *ngFor="let pl of plantservice.splantlist" value="{{pl.plantcode}}">
            {{ pl.plantshortname }}
          </option>
        </select>
      </div>
      <div class="ml-2">
        <select class="custom-select" (change)="getselectedyear()" name="Yearname" #Yearname='ngModel'
          [(ngModel)]='this.yearname'>
          <option disabled>--Select Year--</option>
          <option value="2024">2024</option>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
        </select>
      </div>
      <div class="ml-2">
        <select class="custom-select" (change)="getselectedmonth()" name="Monthname" #Monthname='ngModel'
          [(ngModel)]='this.monthname'>
          <option value="">--Select Month--</option>
          <option value="Jan">Jan</option>
          <option value="Feb">Feb</option>
          <option value="Mar">Mar</option>
          <option value="Apr">Apr</option>
          <option value="May">May</option>
          <option value="Jun">Jun</option>
          <option value="Jul">Jul</option>
          <option value="Aug">Aug</option>
          <option value="Sep">Sep</option>
          <option value="Oct">Oct</option>
          <option value="Nov">Nov</option>
          <option value="Dec">Dec</option>
        </select>
      </div>
      <button class="btn btn-sm btn-custom text-white blue-bg ml-3">Total
        Avg Complete: {{caputilsservice.caputils2[0].percaputil}} %
      </button>
    </div>
  </div>
  <div class="p-3">
    <div class="row my-2">
      <p-table #dt [columns]="cols" [style]="{'text-align': 'center', 'font-size': '0.7em'}" [responsive]="true"
        selectionMode="single" [(selection)]="selectedCaputils" [value]="caputilsservice.caputilsList"
        [paginator]="true" [rows]="10" [resizableColumns]="true">

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="border: none;visibility: hidden;" colspan="4"></th>
            <th>Total : {{totPlanRound}}</th>
            <th>Total : {{totActualRound}}</th>
            <th style="border: none;visibility: hidden;" colspan="2"></th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="col.field" pResizableColumn>
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
              </p-sortIcon>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" class="ui-resizable-column">
              <span *ngIf="col.field=='view'">
                <button class="btn btn-primary  btn-sm cs-btn" (click)="opendetail(rowData.id)">
                  <fa name="pencil"></fa>
                </button> &nbsp;
                <!-- <button class="btn btn-secondary btn-sm cs-btn" (click)="deleteSelected(rowData.id)">
                            <fa name="trash"></fa>
                          </button> -->
              </span>
              <span *ngIf="col.field=='entrydate'">{{rowData[col.field] | date: 'yyyy-MM-dd'}}</span>
              <span *ngIf="col.field!='entrydate'">{{rowData[col.field]}}</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-xl" id="basicExampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- (submit)="onComplete(form)" -->
        <form #form="ngForm" autocomplete="off" (submit)="onSave(form)">
          <div class="page-filter d-flex w-100 px-2 py-1">
            <div class="d-flex">
              <h4 class="font-weight-bold heading mb-0 align-self-center">Actual Round Update</h4>
            </div>
            <button type="submit" (click)="onSaveClick()" class="btn btn-success px-3 ml-auto"> Save</button>
          </div>
          <div class="grid-container my-3 w-100">
            <div class="form-group mx-1">
              <div class="row m-0">
                <div class="col-md-4 in-label">
                  <label for="actualround">Date:</label>
                </div>
                <div class="col-md-8">
                  <input [readonly]="isReadOnly" disabled class="form-control" type='string' id="edate" name="edate"
                    #edate="ngModel" [(ngModel)]="caputilsservice.caputilsData.entrydate" />
                </div>
              </div>

            </div>
            <div class="form-group mx-1">
              <div class="row m-0">
                <div class="col-md-4 in-label">
                  <label for="actualround">Plant:</label>
                </div>
                <div class="col-md-8">
                  <input [readonly]="isReadOnly" disabled class="form-control" type='number' id="plant" name="plant"
                    #plant="ngModel" [(ngModel)]="caputilsservice.caputilsData.plantcode" />
                </div>
              </div>

            </div>

            <div class="form-group mx-1">
              <div class="row m-0">
                <div class="col-md-4 in-label">
                  <label for="actualround">LineType:</label>
                </div>
                <div class="col-md-8">
                  <input [readonly]="isReadOnly" disabled class="form-control" type='text' id="ltype" name="ltype"
                    #plant="ngModel" [(ngModel)]="caputilsservice.caputilsData.linetype" />
                </div>
              </div>
            </div>
            <div class="form-group mx-1">
              <div class="row m-0">
                <div class="col-md-4 in-label">
                  <label for="actualround">Plan Round:</label>
                </div>
                <div class="col-md-8">
                  <input [readonly]="isReadOnly" disabled class="form-control" type='number' id="pround" name="pround"
                    #pround="ngModel" (change)="perCalc()" [(ngModel)]="caputilsservice.caputilsData.plantround" />
                </div>
              </div>
            </div>
            <div class="form-group mx-1">
              <div class="row m-0">
                <div class="col-md-4 in-label">
                  <label for="actualround">Actual Round:</label>
                </div>
                <div class="col-md-8">
                  <input [readonly]="isReadOnly" class="form-control" type='number' id="actualround" name="actualround"
                    #actualround="ngModel" (change)="perCalc()"
                    [(ngModel)]="caputilsservice.caputilsData.actualround" />
                </div>
              </div>
            </div>
            <div class="form-group mx-1">
              <div class="row m-0">
                <div class="col-md-4 in-label">
                  <label for="actualremark">Actual Remark:</label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" type='text' id="actualremark" name="actualremark" #actualremark="ngModel"
                    (change)="perCalc()" [(ngModel)]="caputilsservice.caputilsData.actualremark" />
                </div>
              </div>
            </div>

            <div class="form-group mx-1">
              <div class="row m-0">
                <div class="col-md-4 in-label">
                  <label for="reason">Reason 1 : </label>
                </div>
                <div class="col-md-5">
                  <select class="form-control" id="reason" name="reason"
                    [(ngModel)]="caputilsservice.caputilsData.reason" #reason>
                    <option *ngFor="let rsn of caputilsservice.caputilsReason" value="{{rsn.reason}}">
                      {{ rsn.reason }}
                    </option>
                  </select>
                </div>
                <div class="col-md-2">
                  <input class="form-control" type='number' min="1" id="reasoncount" name="reasoncountt" #reasoncount="ngModel"
                    [(ngModel)]="caputilsservice.caputilsData.reasoncount" (change)="validate($event)"/>
                </div>
                <div class="col-md-1">
                  <button class="btn btn-primary ml-2" type="button" (click)="addReason()"><i class="fa fa-plus"></i></button>
                </div>
              </div>
            </div>

            <div class="form-group mx-1" *ngFor="let item of r;let i = index;">
              <div class="row m-0">
                <div class="col-md-4 in-label">
                  <label for="reason">Reason {{(i+1)+1}} :</label>
                </div>
                <div class="col-md-5">
                  <select class="form-control" id="reason" name="reason" [ngModelOptions]="{standalone : true}"
                    [(ngModel)]="r[i].reason">
                    <option *ngFor="let rsn of caputilsservice.caputilsReason" value="{{rsn.reason}}">
                      {{ rsn.reason }}
                    </option>
                  </select>
                </div>
                <div class="col-md-2">
                  <input class="form-control" type='number' min="1" id="reasoncount" name="reasoncount"
                    [(ngModel)]="r[i].reasoncount" (change)="validate($event,i)" [ngModelOptions]="{standalone : true}" />
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>