<div class="px-5 py-4">
    <div class="card highlight-2 border-10 p-3">
        <div class="page-filter d-flex w-100 px-2 py-1">
            <div class="d-flex">
                <h4 class="font-weight-bold heading mb-0 align-self-center">Audit View</h4>
            </div>
            <div class="input-group custome-gs ml-auto" style="max-width: 250px;">
                <input type="text" class="form-control" pInputText placeholder="Global Filter"
                  (input)="dt.filterGlobal($event.target.value, 'contains')">
                <div class="input-group-append">
                  <i class="fa fa-search input-group-text"></i>
                </div>
            </div>
            <div class="ml-2">
              <select class="custom-select" (change)="getselectedyear()" name="Yearname" #Yearname='ngModel' [(ngModel)]='this.yearname'>
                <option disabled>--Select Year--</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
              </select>
            </div>
            <div class="ml-2">
                <select class="custom-select" (change)="getselectedmonth()" name="Monthname" #Monthname='ngModel' [(ngModel)]='this.monthname'>
                  <option value="">--Select Month--</option>
                  <option value="Jan">Jan</option>
                  <option value="Feb">Feb</option>
                  <option value="Mar">Mar</option>
                  <option value="Apr">Apr</option>
                  <option value="May">May</option>
                  <option value="Jun">Jun</option>
                  <option value="Jul">Jul</option>
                  <option value="Aug">Aug</option>
                  <option value="Sep">Sep</option>
                  <option value="Oct">Oct</option>
                  <option value="Nov">Nov</option>
                  <option value="Dec">Dec</option>
                </select>      
            </div>
            <button (click)="addNewMaterial()" class="btn btn-primary px-3 ml-3">Add New Item</button>
        </div>
        <div class="p-3">
            <div class="row m-0 my-2">
              <div class="col-2 text-center text-bold" [ngStyle]="{'background-color':getAvgColor()}">Average Result</div>
            </div>
            <p-table #dt [columns]="cols" [style]="{'text-align': 'center', 'font-size': '0.7em'}"
                  [responsive]="true" selectionMode="single" [(selection)]="selectedAudit"
                  [value]="auditservice.auditList" [paginator]="true" [rows]="10" [resizableColumns]="true">

                  <ng-template pTemplate="header" let-columns>

                    <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="col.field"
                        pResizableColumn>
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                      <td *ngFor="let col of columns" class="ui-resizable-column">
                        <span *ngIf="col.field=='view'">
                          <button class="btn btn-primary  btn-sm cs-btn" (click)="opendetail(rowData.id)">
                            <fa name="pencil"></fa>
                          </button> &nbsp;
                          <!-- <button class="btn btn-secondary btn-sm cs-btn" (click)="deleteSelected(rowData.id)">
                            <fa name="trash"></fa>
                          </button> -->
                        </span>
                        <span *ngIf="col.field=='audit_date'">{{rowData[col.field] | date: 'yyyy-MM-dd'}}</span>
                        <span *ngIf="col.field=='plantcode'">{{rowData[col.field]}}</span>
                        <span *ngIf="col.field=='customer'">{{rowData[col.field]}}</span>
                        <span *ngIf="col.field=='marks'">{{rowData[col.field]}}</span>
                        <span *ngIf="col.field=='result'" [ngStyle]="{'background-color':getColor(rowData[col.field]), 'color':'transparent'}">{{rowData[col.field]}}</span>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
        </div>
    </div>
</div>
