<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <h6>Summary of Attendance for the month of {{monthName}}</h6>
          </div>

          <!--<div class="col-sm-2">
            <select class="form-control" *ngIf="plantservice" name="myselect" #mySelect
              (change)="selectedGrid($event.target.value)" style="height: calc(2.10rem);padding: 5px 13px 6px 9px;">
              <option value="All">
                All Company
              </option>
              <option *ngFor="let pl of plantservice.splantlist" value="{{pl.plantcode}}">
                {{ pl.plantshortname }}
              </option>
            </select>

          </div>-->
          <div class="col-sm-1">
            <select class="custom-select" name="month" (change)="selectedMonth($event.target.value)" #Month='ngModel'
              [(ngModel)]='month'>
              <option value="1">Jan</option>
              <option value="2">Feb</option>
              <option value="3">Mar</option>
              <option value="4">Apr</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">Aug</option>
              <option value="9">Sept</option>
              <option value="10">Oct</option>
              <option value="11">Nov</option>
              <option value="12">Dec</option>
            </select>
          </div>

          <div class="col-sm-1">
            <select class="custom-select" name="month" (change)="selectedAh($event.target.value)" #Month='ngModel'
              [(ngModel)]='selectedah'>
              <option value="All">All</option>
              <option value="08 - Hrs">08-Hrs</option>
              <option value="11 - Hrs">11-Hrs</option>
              <option value="12 - Hrs">12-Hrs</option>
              <option value="13 - Hrs">13-Hrs</option>
              <option value="14 - Hrs">14-Hrs</option>
              <option value="15 - Hrs">15-Hrs</option>
              <option value="16 - Hrs">16-Hrs</option>
              <option value="17 - Hrs">17-Hrs</option>
              <option value="18 - Hrs">18-Hrs</option>
              <option value="19 - Hrs">19-Hrs</option>
              <option value="20 - Hrs">20-Hrs</option>
              <option value="21 - Hrs">21-Hrs</option>
            </select>
          </div>
          <div class="col-sm-5">
            <div class="row">
              <div class="col-md-2 cf">
                From Date
              </div>
              <div class="col-md-4">
                <input type="date" class="form-control" (change)="selectedStartdate($event.target.value)"
                  [(ngModel)]="selected_startdate" placeholder="From Date" name="from_date" id="from_date">
              </div>
              <div class="col-md-2 cf">
                To Date
              </div>
              <div class="col-md-4">
                <input type="date" class="form-control" (change)="selectedEnddate($event.target.value)"
                  [(ngModel)]="selected_enddate" placeholder="To Date" name="to_date" id="to_date">
              </div>
            </div>

          </div>
          <div class="col-sm-1" style="text-align: center;">
            <button type="button" label="EXCEL" (click)="dt.exportCSV()" class="btn btn-success btn-sm ">
              <i class="fa fa-file-excel-o"></i> Export</button>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="mx-2">
            <div class="card card-primary card-outline">

              <div class="card-body p-0" style="overflow-y: scroll; height:auto;">

                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                <div class="row mb-2 mt-2">
                  <button class="btn btn-success ml-3">Head Count Total {{grand_total_1}}</button> &nbsp;
                  <button class="btn btn-info">Manhoursworked Total {{grand_total_2}}</button>
                </div>
                <p-table #dt [value]="sales" [columns]="subtitle">
                  <ng-template pTemplate="header">


                    <tr>
                      <th rowspan="3">Department</th>
                    </tr>
                    <tr>
                      <th colspan="2" *ngFor="let company of companies">{{company.companyFName}}</th>
                      <th colspan="2"></th>
                    </tr>
                    <tr>
                      <th *ngFor="let st of subtitle">{{st.title}}</th>
                      <th>Head Count Total</th>
                      <th>Manhoursworked Total</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-sale>
                    <tr>
                      <td>{{sale.brand}}</td>
                      <td *ngFor="let d of sale.data">{{d}}</td>
                      <td *ngFor="let d of sale.gtotal">{{d}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <tr>
                      <td style="background: #f4f4f4;">Total</td>
                      <td *ngFor="let st of subtitle" style="background: #f4f4f4;">
                        <span *ngIf="st.status==1">
                          {{st.total}}
                        </span>
                        <span *ngIf="st.status==2">
                          {{st.total}}
                        </span>
                      </td>
                      <td> {{grand_total_1}}</td>
                      <td> {{grand_total_2}}</td>
                    </tr>
                  </ng-template>
                </p-table>

              </div>
              <!-- /.card-body -->
              <div class="card-footer p-0">

              </div>
            </div>

            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
      </div>
    </section>
    <!-- /.content-wrapper -->