<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <!-- /.card -->
        
            <!-- /.col -->
            <div class="mx-2">
              <div class="card card-primary">
                
                <div class="card-body p-0">
                  <button (click)="Previous()">Previous</button>
                  <button (click)="Next()">Next</button>
                 
                  <!-- THE CALENDAR -->
                  <div id="calendar">
                    <full-calendar #calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" 
                        defaultView="dayGridMonth"
                        [header]="options.header" 
                        [weekends]="true"
                        [events]="
                       rejectdata"></full-calendar>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
            <!-- /.col -->
          </div>
        </div>
        <!-- /.row -->
      </section>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 