<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 ml-1">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Rejection Calender</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">

            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="Home.html">Home</a></li>
              <li class="breadcrumb-item active">Rejection Calender</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">


        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="mx-2">
                <div class="card card-primary card-outline">
                  <div class="card-header ">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="btn-group btn-group-toggle btn-sm" role="group">
                          <button class="btn btn-primary" (click)="Previous()">Previous</button>
                          <button class="btn btn-primary" (click)="Next()">Next</button>
                        </div>
                        <button class="btn btn-primary " (click)="loaddata()">Load Data</button>
                      </div>
                      <div class="col-md-3 col-sm-3"></div>
                      <div class="col-md-3 col-sm-3 px-3">

                        <select class=" custom-select" name="myselect" #mySelect
                          (change)="selectedGrid($event.target.value)">
                          <!-- <option value="0">--Select--</option> -->
                          <option *ngFor="let pl of plantservice.plantlist" value="{{pl.plantCode}}">
                            {{ pl.plantShortName }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <!-- /.card-tools -->
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0" style="overflow-y: scroll; height:500px;">
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
                    <full-calendar #calendar defaultView="dayGridMonth" [plugins]="calendarPlugins"
                      defaultView="dayGridMonth" [plugins]="calendarPlugins" [header]="options.header" [weekends]="true"
                      [displayEventTime]="false" [events]="dpservice.dailyprodlist"></full-calendar>
                    <div class="table-responsive mailbox-messages">

                      <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer p-0">
                    <div class="mailbox-controls">
                      <div class="float-right">

                        <div class="btn-group"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
          </div>
          <!-- /.row -->
        </section>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
